<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.delmar.common.mybatis.sql.CommonMapper" >

<resultMap id="BusCoreResultMap" type="com.delmar.common.model.BusCoreModel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="client_id" property="clientId" jdbcType="INTEGER" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="createdby" property="createdBy" jdbcType="INTEGER" />
    <result column="createdbyName" property="createdByName" jdbcType="VARCHAR" />    
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
    <result column="updatedby" property="updatedBy" jdbcType="INTEGER" />
    <result column="updatedbyName" property="updatedByName" jdbcType="VARCHAR" />    
    <result column="flag" property="flag" jdbcType="INTEGER" />
    
    <!-- 
    <association property="org" column="org_id" select="com.delmar.sys.mybatis.sql.OrgMapper.selectByPrimaryKey" ></association>
    <association property="client" column="client_id" select="com.delmar.sys.mybatis.sql.ClientMapper.selectByPrimaryKey" ></association>    
    <association property="createdByUser" column="createdby" select="com.delmar.sys.mybatis.sql.UserMapper.selectByPrimaryKey"></association>		
    <association property="updatedByUser" column="updatedby" select="com.delmar.sys.mybatis.sql.UserMapper.selectByPrimaryKey"></association>
    <association property="user" column="user_id" select="com.delmar.sys.mybatis.sql.UserMapper.selectByPrimaryKey"></association>		
     -->
</resultMap>
  
  
  <sql id="Bus_Core_List" >
    ,user_id, user_name, org_id,client_id,created, 
    createdby, createdByName,updated, updatedby,updatedbyName, flag
  </sql>

</mapper>