<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.delmar.sys.mybatis.sql.PageMapper" >
  <resultMap id="BaseResultMap" type="com.delmar.sys.model.Page" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="page_url" property="pageUrl" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="NVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
          <if test="searchString!=null"> and  ${searchString} </if>
          <if test="accessString!=null"> and ${accessString} </if>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, page_url, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from sys_page
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_page
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_page
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="java.util.Map" >
    delete from sys_page
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.delmar.sys.model.Page" useGeneratedKeys="true" keyProperty="id" >
    insert into sys_page (name, page_url, remark
      )
    values (#{name,jdbcType=VARCHAR}, #{pageUrl,jdbcType=VARCHAR}, #{remark,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.delmar.sys.model.Page" useGeneratedKeys="true" keyProperty="id" >
    insert into sys_page
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="pageUrl != null" >
        page_url,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pageUrl != null" >
        #{pageUrl,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="java.util.Map" resultType="java.lang.Integer" >
    select count(*) from sys_page
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.delmar.sys.model.Page" >
    update sys_page
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pageUrl != null" >
        page_url = #{pageUrl,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=NVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.delmar.sys.model.Page" >
    update sys_page
    set name = #{name,jdbcType=VARCHAR},
      page_url = #{pageUrl,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=NVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectPageByPrivileges" resultMap="BaseResultMap" parameterType="java.util.Map" >
  
  	select pa.* from sys_page pa inner join sys_module_page mp on pa.id=mp.page_id where mp.module_id in
(
select mr.module_id from sys_user_role  ur inner join 
sys_module_role mr on ur.role_id=mr.role_id inner join sys_privilege pr on mr.id=pr.module_role_id  
 inner join sys_operator op on pr.operator_id=op.id
 where user_id=#{userId,jdbcType=INTEGER} and op.value=#{operator,jdbcType=VARCHAR})
  </select>
</mapper>