<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.delmar.sys.mybatis.sql.UserThirdPartyMapper">
  <resultMap id="BaseResultMap" type="com.delmar.sys.model.UserThirdParty">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="partyUser" jdbcType="VARCHAR" property="partyUser" />
    <result column="sys_user_id" jdbcType="INTEGER" property="sysUserId" />    
    <result column="system_id" jdbcType="INTEGER" property="systemId" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="createdBy" jdbcType="INTEGER" property="createdBy" />
    <result column="createdByName" jdbcType="VARCHAR" property="createdByName" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
    <result column="updatedBy" jdbcType="INTEGER" property="updatedBy" />
    <result column="updatedByName" jdbcType="VARCHAR" property="updatedByName" />
    <result column="partytype_id" jdbcType="INTEGER" property="partyTypeId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />    
  </resultMap>
  <sql id="Example_Where_Clause">
    <where >
	    <if test="sysuserid!=null"> and sys_user_id=#{sysuserid,jdbcType=INTEGER} </if>
	    <if test="accessString!=null"> and ${accessString} </if>
    </where>
    
  </sql>
  <sql id="Base_Column_List">
    id, password, partyUser, sys_user_id,system_id, created, createdBy, createdByName, updated, updatedBy, 
    updatedByName, partytype_id,remark 
  </sql>
  <select id="selectByExample" parameterType="com.delmar.sys.model.UserThirdParty" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from sys_user_thirdparty
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_user_thirdparty
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_user_thirdparty
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.delmar.sys.model.UserThirdParty">
    delete from sys_user_thirdparty
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.delmar.sys.model.UserThirdParty" useGeneratedKeys="true">
    insert into sys_user_thirdparty (password, partyUser, sys_user_id,system_id, 
      created, createdBy, createdByName, 
      updated, updatedBy, updatedByName, 
      partytype_id,remark)
    values (#{password,jdbcType=VARCHAR}, #{partyUser,jdbcType=VARCHAR}, #{sysUserId,jdbcType=INTEGER}, #{systemId,jdbcType=INTEGER}, 
      #{created,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=INTEGER}, #{createdByName,jdbcType=VARCHAR}, 
      #{updated,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=INTEGER}, #{updatedByName,jdbcType=VARCHAR}, 
      #{partyTypeId,jdbcType=INTEGER},#{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.delmar.sys.model.UserThirdParty" useGeneratedKeys="true">
    insert into sys_user_thirdparty
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="password != null">
        password,
      </if>
      <if test="partyUser != null">
        partyUser,
      </if>
      <if test="sysUserId != null">
        sys_user_id,
      </if>

      <if test="systemId != null">
        system_id,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="createdBy != null">
        createdBy,
      </if>
      <if test="createdByName != null">
        createdByName,
      </if>
      <if test="updated != null">
        updated,
      </if>
      <if test="updatedBy != null">
        updatedBy,
      </if>
      <if test="updatedByName != null">
        updatedByName,
      </if>
      <if test="partyTypeId != null">
        partytype_id,
      </if>
      <if test="remark != null">
        remark,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="partyUser != null">
        #{partyUser,jdbcType=VARCHAR},
      </if>
      <if test="systemId != null">
        #{systemId,jdbcType=INTEGER},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="createdByName != null">
        #{createdByName,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=INTEGER},
      </if>
      <if test="updatedByName != null">
        #{updatedByName,jdbcType=VARCHAR},
      </if>
      <if test="partyTypeId != null">
        #{partyTypeId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.delmar.sys.model.UserThirdParty" resultType="java.lang.Integer">
    select count(*) from sys_user_thirdparty
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.delmar.sys.model.UserThirdParty">
    update sys_user_thirdparty
    <set>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="partyUser != null">
        partyUser = #{partyUser,jdbcType=VARCHAR},
      </if>
      <if test="sysUserId != null">
        sys_User_Id = #{sysUserId,jdbcType=INTEGER},
      </if>
      <if test="systemId != null">
        system_id = #{systemId,jdbcType=INTEGER},
      </if>

      <if test="updated != null">
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updatedBy = #{updatedBy,jdbcType=INTEGER},
      </if>
      <if test="updatedByName != null">
        updatedByName = #{updatedByName,jdbcType=VARCHAR},
      </if>
      <if test="partyTypeId != null">
        partyType_id = #{partyTypeId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.delmar.sys.model.UserThirdParty">
    update sys_user_thirdparty
    set password = #{password,jdbcType=VARCHAR},
      partyUser = #{partyUser,jdbcType=VARCHAR},
      sys_user_id = #{sysUserId,jdbcType=INTEGER},
      system_id = #{systemId,jdbcType=INTEGER},
      updated = #{updated,jdbcType=TIMESTAMP},
      updatedBy = #{updatedBy,jdbcType=INTEGER},
      updatedByName = #{updatedByName,jdbcType=VARCHAR},
      partytype_id = #{partyTypeId,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}      
    where id = #{id,jdbcType=INTEGER}
  </update>
 
</mapper>