<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.delmar.sys.mybatis.sql.UserFootmarkMapper" >
  <resultMap id="BaseResultMap" type="com.delmar.sys.model.UserFootmark" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ActionMethod" property="actionMethod" jdbcType="VARCHAR" />
    <result column="visiteDate" property="visiteDate" jdbcType="TIMESTAMP" />
    <result column="ActionName" property="actionName" jdbcType="VARCHAR" />
    <result column="ActionPurpose" property="actionPurpose" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="org_id" jdbcType="INTEGER" property="orgId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="remote_addr" jdbcType="VARCHAR" property="remoteAddr" />
    <result column="remote_host" jdbcType="VARCHAR" property="remoteHost" />
    
  </resultMap>
  <sql id="Example_Where_Clause" >
      <where >
	    <if test="userid!=null"> and user_id=#{userid,jdbcType=INTEGER} </if>
	    <if test="accessString!=null"> and ${accessString} </if>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, ActionMethod, visiteDate, ActionName, ActionPurpose, user_id ,org_id, remark, 
    remote_addr, remote_host
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.delmar.sys.model.UserFootmark" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from sys_user_footmark
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_user_footmark
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_user_footmark
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.delmar.sys.model.UserFootmark" >
    delete from sys_user_footmark
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.delmar.sys.model.UserFootmark" useGeneratedKeys="true" keyProperty="id" >
    insert into sys_user_footmark (ActionMethod, visiteDate, ActionName, 
      ActionPurpose, user_id, org_id, 
      remark, remote_addr, remote_host)
    values (#{actionMethod,jdbcType=VARCHAR}, #{visiteDate,jdbcType=TIMESTAMP}, #{actionName,jdbcType=VARCHAR}, 
      #{actionPurpose,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{orgId,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{remoteAddr,jdbcType=VARCHAR}, #{remoteHost,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.delmar.sys.model.UserFootmark" useGeneratedKeys="true" keyProperty="id" >
    insert into sys_user_footmark
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="actionMethod != null" >
        ActionMethod,
      </if>
      <if test="visiteDate != null" >
        visiteDate,
      </if>
      <if test="actionName != null" >
        ActionName,
      </if>
      <if test="actionPurpose != null" >
        ActionPurpose,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="orgId != null">
        org_id,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="remoteAddr != null">
        remote_addr,
      </if>
      <if test="remoteHost != null">
        remote_host,
      </if>       
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="actionMethod != null" >
        #{actionMethod,jdbcType=VARCHAR},
      </if>
      <if test="visiteDate != null" >
        #{visiteDate,jdbcType=TIMESTAMP},
      </if>
      <if test="actionName != null" >
        #{actionName,jdbcType=VARCHAR},
      </if>
      <if test="actionPurpose != null" >
        #{actionPurpose,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="orgId != null">
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="remoteAddr != null">
        #{remoteAddr,jdbcType=VARCHAR},
      </if>
      <if test="remoteHost != null">
        #{remoteHost,jdbcType=VARCHAR},
      </if>      
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.delmar.sys.model.UserFootmark" resultType="java.lang.Integer" >
    select count(*) from sys_user_footmark
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.delmar.sys.model.UserFootmark" >
    update sys_user_footmark
    <set >
      <if test="actionMethod != null" >
        ActionMethod = #{actionMethod,jdbcType=VARCHAR},
      </if>
      <if test="visiteDate != null" >
        visiteDate = #{visiteDate,jdbcType=TIMESTAMP},
      </if>
      <if test="actionName != null" >
        ActionName = #{actionName,jdbcType=VARCHAR},
      </if>
      <if test="actionPurpose != null" >
        ActionPurpose = #{actionPurpose,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="orgId != null">
        org_id = #{orgId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="remoteAddr != null">
        remote_addr = #{remoteAddr,jdbcType=VARCHAR},
      </if>
      <if test="remoteHost != null">
        remote_host = #{remoteHost,jdbcType=VARCHAR},
      </if>     
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.delmar.sys.model.UserFootmark" >
    update sys_user_footmark
    set ActionMethod = #{actionMethod,jdbcType=VARCHAR},
      visiteDate = #{visiteDate,jdbcType=TIMESTAMP},
      ActionName = #{actionName,jdbcType=VARCHAR},
      ActionPurpose = #{actionPurpose,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      org_id = #{orgId,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      remote_addr = #{remoteAddr,jdbcType=VARCHAR},
      remote_host = #{remoteHost,jdbcType=VARCHAR}
      
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>