<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.delmar.sysSettings.mybatis.sql.SysSettingsValuesMapper" >
  <resultMap id="BaseResultMap" type="com.delmar.sysSettings.model.SysSettingsValues" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="settings_id" property="settingsId" jdbcType="INTEGER" />
    <result column="itemvalue_id" property="itemvalueId" jdbcType="INTEGER" />
    
    <association property="sysSettingsItemValue" column="itemvalue_id" select="com.delmar.sysSettings.mybatis.sql.SysSettingsItemValueMapper.selectByPrimaryKey"></association>    
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      	<if test="accessString!=null"> 	 <![CDATA[ ${accessString} ]]>  </if>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, settings_id, itemvalue_id
   
  </sql>
  
	<select id="selectNameById"  resultType="java.lang.String" parameterType="java.lang.Integer"  >
	   select name from sys_settings_values where id = #{id,jdbcType=INTEGER}
	</select>
  
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <if test="topnumber!=null" >
       ${topnumber}
    </if>        
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <if test="columns != null" >
        ${columns}
    </if>
    
    <if test="columns == null" >
       <include refid="Base_Column_List" />
    </if>    
    
    from sys_settings_values
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_settings_values
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByFatherKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_settings_values
    where settings_id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey"  parameterType="java.lang.Integer" >
    delete from sys_settings_values
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="java.util.Map" >
    delete from sys_settings_values
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.delmar.sysSettings.model.SysSettingsValues" useGeneratedKeys="true" keyProperty="id" >
    insert into sys_settings_values (settings_id, itemvalue_id)
    values (#{settingsId,jdbcType=INTEGER}, #{itemvalueId,jdbcType=INTEGER})
      
  </insert>
  
  <select id="countByExample" parameterType="java.util.Map" resultType="java.lang.Integer" >
    select count(*) from sys_settings_values
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <update id="updateByPrimaryKey" parameterType="com.delmar.sysSettings.model.SysSettingsValues" >
    update sys_settings_values
    set settings_id = #{settingsId,jdbcType=INTEGER}, 
    	itemvalue_id = #{itemvalueId,jdbcType=INTEGER}
      	
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.delmar.sysSettings.model.SysSettingsValues" >
    update sys_settings_values
    <set >
      <if test="settingsId != null" >
        settings_id = #{settingsId,jdbcType=INTEGER}, 
      </if>
      <if test="itemvalueId != null" >
        itemvalue_id = #{itemvalueId,jdbcType=INTEGER}, 
      </if>
      
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>