<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.delmar.cargo.mybatis.sql.MeetingTopicMapper" >
    <resultMap id="BaseResultMap" type="com.delmar.cargo.model.MeetingTopic" >
            <id column="id" property="id" jdbcType="INTEGER" />
            <result column="title" property="title" jdbcType="VARCHAR" />
            <result column="meeting_id" property="meetingId" jdbcType="INTEGER" />
            <result column="level" property="level" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Example_Where_Clause" >
        <where >
                <if test="meetingId!=null"> and meeting_id=#{meetingId,jdbcType=INTEGER} </if>
                <if test="searchString!=null"> and ${searchString} </if>
                <if test="accessString!=null"> and ${accessString} </if>

        </where>
    </sql>
    <sql id="Base_Column_List" >
      id,   title,   meeting_id,   level 
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="java.util.Map" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from b_meeting_topic
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from b_meeting_topic
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from b_meeting_topic
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="java.util.Map" >
        delete from b_meeting_topic
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" parameterType="com.delmar.cargo.model.MeetingTopic" >
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into b_meeting_topic (     title,   meeting_id,   level )
        values (  #{title,jdbcType=VARCHAR}, #{meetingId,jdbcType=INTEGER}, #{level,jdbcType=VARCHAR} )
    </insert>
    <insert id="insertSelective" parameterType="com.delmar.cargo.model.MeetingTopic" >
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into b_meeting_topic
        <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="title != null" >
                    title,
                </if>
                <if test="meetingId != null" >
                    meeting_id,
                </if>
                <if test="level != null" >
                    level,
                </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
    <if test="title != null" >
    #{title,jdbcType=VARCHAR}},
    </if>
    <if test="meetingId != null" >
    #{meetingId,jdbcType=VARCHAR}},
    </if>
    <if test="level != null" >
    #{level,jdbcType=VARCHAR}},
    </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="java.util.Map" resultType="java.lang.Integer" >
        select count(*) from b_meeting_topic
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByPrimaryKeySelective" parameterType="com.delmar.cargo.model.MeetingTopic" >
        update b_meeting_topic
        <set >
    <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
    </if>
    <if test="meetingId != null" >
        meeting_id = #{meetingId,jdbcType=INTEGER},
    </if>
    <if test="level != null" >
        level = #{level,jdbcType=VARCHAR},
    </if>

        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.delmar.core.model.Window" >
        update b_meeting_topic
        set 
            
            title = #{title,jdbcType=VARCHAR},

            meeting_id = #{meetingId,jdbcType=INTEGER},

            level = #{level,jdbcType=VARCHAR}

        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>