<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.delmar.cargo.mybatis.sql.MeetingParticipantMapper" >
    <resultMap id="BaseResultMap" type="com.delmar.cargo.model.MeetingParticipant" >
            <id column="id" property="id" jdbcType="INTEGER" />
            <result column="meeting_id" property="meetingId" jdbcType="INTEGER" />
            <result column="name" property="name" jdbcType="VARCHAR" />
            <result column="role" property="role" jdbcType="VARCHAR" />
            <result column="user_id" property="userId" jdbcType="INTEGER" />
            <result column="org_id" property="orgId" jdbcType="INTEGER" />
            <result column="client_id" property="clientId" jdbcType="INTEGER" />
            <result column="created" property="created" jdbcType="TIMESTAMP" />
            <result column="createdby" property="createdby" jdbcType="INTEGER" />
            <result column="updated" property="updated" jdbcType="TIMESTAMP" />
            <result column="updatedby" property="updatedby" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Example_Where_Clause" >
        <where >
                <if test="meetingId!=null"> and meeting_id=#{meetingId,jdbcType=INTEGER} </if>
                <if test="searchString!=null"> and ${searchString} </if>
                <if test="accessString!=null"> and ${accessString} </if>

        </where>
    </sql>
    <sql id="Base_Column_List" >
      id,   meeting_id,   name,   role,   user_id,   org_id,   client_id,   created,   createdby,   updated,   updatedby 
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="java.util.Map" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from b_meeting_participant
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from b_meeting_participant
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from b_meeting_participant
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="java.util.Map" >
        delete from b_meeting_participant
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" parameterType="com.delmar.cargo.model.MeetingParticipant" >
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into b_meeting_participant (     meeting_id,   name,   role,   user_id,   org_id,   client_id,   created,   createdby,   updated,   updatedby )
        values (  #{meetingId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{role,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{orgId,jdbcType=INTEGER}, #{clientId,jdbcType=INTEGER}, #{created,jdbcType=TIMESTAMP}, #{createdby,jdbcType=INTEGER}, #{updated,jdbcType=TIMESTAMP}, #{updatedby,jdbcType=INTEGER} )
    </insert>
    <insert id="insertSelective" parameterType="com.delmar.cargo.model.MeetingParticipant" >
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into b_meeting_participant
        <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="meetingId != null" >
                    meeting_id,
                </if>
                <if test="name != null" >
                    name,
                </if>
                <if test="role != null" >
                    role,
                </if>
                <if test="userId != null" >
                    user_id,
                </if>
                <if test="orgId != null" >
                    org_id,
                </if>
                <if test="clientId != null" >
                    client_id,
                </if>
                <if test="created != null" >
                    created,
                </if>
                <if test="createdby != null" >
                    createdby,
                </if>
                <if test="updated != null" >
                    updated,
                </if>
                <if test="updatedby != null" >
                    updatedby,
                </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
    <if test="meetingId != null" >
    #{meetingId,jdbcType=VARCHAR}},
    </if>
    <if test="name != null" >
    #{name,jdbcType=VARCHAR}},
    </if>
    <if test="role != null" >
    #{role,jdbcType=VARCHAR}},
    </if>
    <if test="userId != null" >
    #{userId,jdbcType=VARCHAR}},
    </if>
    <if test="orgId != null" >
    #{orgId,jdbcType=VARCHAR}},
    </if>
    <if test="clientId != null" >
    #{clientId,jdbcType=VARCHAR}},
    </if>
    <if test="created != null" >
    #{created,jdbcType=VARCHAR}},
    </if>
    <if test="createdby != null" >
    #{createdby,jdbcType=VARCHAR}},
    </if>
    <if test="updated != null" >
    #{updated,jdbcType=VARCHAR}},
    </if>
    <if test="updatedby != null" >
    #{updatedby,jdbcType=VARCHAR}},
    </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="java.util.Map" resultType="java.lang.Integer" >
        select count(*) from b_meeting_participant
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByPrimaryKeySelective" parameterType="com.delmar.cargo.model.MeetingParticipant" >
        update b_meeting_participant
        <set >
    <if test="meetingId != null" >
        meeting_id = #{meetingId,jdbcType=INTEGER},
    </if>
    <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
    </if>
    <if test="role != null" >
        role = #{role,jdbcType=VARCHAR},
    </if>
    <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
    </if>
    <if test="orgId != null" >
        org_id = #{orgId,jdbcType=INTEGER},
    </if>
    <if test="clientId != null" >
        client_id = #{clientId,jdbcType=INTEGER},
    </if>
    <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
    </if>
    <if test="createdby != null" >
        createdby = #{createdby,jdbcType=INTEGER},
    </if>
    <if test="updated != null" >
        updated = #{updated,jdbcType=TIMESTAMP},
    </if>
    <if test="updatedby != null" >
        updatedby = #{updatedby,jdbcType=INTEGER},
    </if>

        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.delmar.core.model.Window" >
        update b_meeting_participant
        set 
            
            meeting_id = #{meetingId,jdbcType=INTEGER},

            name = #{name,jdbcType=VARCHAR},

            role = #{role,jdbcType=VARCHAR},

            user_id = #{userId,jdbcType=INTEGER},

            org_id = #{orgId,jdbcType=INTEGER},

            client_id = #{clientId,jdbcType=INTEGER},

            created = #{created,jdbcType=TIMESTAMP},

            createdby = #{createdby,jdbcType=INTEGER},

            updated = #{updated,jdbcType=TIMESTAMP},

            updatedby = #{updatedby,jdbcType=INTEGER}

        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>