<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.delmar.crm.mybatis.sql.LinkmanMapper" >
  <resultMap id="BaseResultMap" type="com.delmar.crm.model.Linkman"   extends="com.delmar.common.mybatis.sql.CommonMapper.BusCoreResultMap">
    <id column="id" property="id" jdbcType="INTEGER" />
	<result column="linkCode" property="linkCode" jdbcType="VARCHAR" />
	<result column="name" property="name" jdbcType="VARCHAR" />
	<result column="ename" property="ename" jdbcType="VARCHAR" />
	<result column="department" property="department" jdbcType="VARCHAR" />
	<result column="call_id" property="callId" jdbcType="INTEGER" />
	<result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
	<result column="phoneNo" property="phoneNo" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />	
	<result column="customer_id" property="customerId" jdbcType="INTEGER" />
	<result column="isMain" property="isMain" jdbcType="VARCHAR" />
	<result column="position" property="position" jdbcType="VARCHAR" />
	<result column="busPhone" property="busPhone" jdbcType="VARCHAR" />
	<result column="fax" property="fax" jdbcType="VARCHAR" />
	<result column="postCode" property="postCode" jdbcType="VARCHAR" />
	<result column="familyPhone" property="familyPhone" jdbcType="VARCHAR" />
	<result column="qq" property="qq" jdbcType="VARCHAR" />
	<result column="skyper" property="skyper" jdbcType="VARCHAR" />
	<result column="other" property="other" jdbcType="VARCHAR" />
	<result column="hobby" property="hobby" jdbcType="VARCHAR" />
	<result column="taboo" property="taboo" jdbcType="VARCHAR" />
    <result column="nextLinktime" property="nextLinkTime" jdbcType="TIMESTAMP" />
    <result column="firstLinktime" property="firstLinkTime" jdbcType="TIMESTAMP" />
    <result column="lastLinktime" property="lastLinkTime" jdbcType="TIMESTAMP" />
	<result column="remark" property="remark" jdbcType="VARCHAR" />
	<!-- 
    <association property="customer" column="customer_Id" select="com.delmar.crm.mybatis.sql.CustomerMapper.selectByPrimaryKey" ></association>	
	 -->
    	
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
    		<if test="ismain!=null"> and  flag=0 and ismain=#{ismain,jdbcType=CHAR} </if>
    		<if test="customerId!=null"> and flag=0 and customer_id=#{customerId,jdbcType=INTEGER} </if>
        	<if test="accessString!=null"> and flag=0 and  ${accessString} </if>
    </where>
  </sql>
  <sql id="Base_Column_List" >
     id,linkCode,name,ename,department,call_id,birthday,phoneNo,email,customer_id,isMain,position,busPhone,
     fax,postCode,familyPhone,qq,skyper,other,hobby,taboo,nextLinkTime,firstLinkTime,LastLinkTime,remark
     <include refid="com.delmar.common.mybatis.sql.CommonMapper.Bus_Core_List" />
  </sql>
  
	<select id="selectNameById"  resultType="java.lang.String" parameterType="java.lang.Integer"  >
	   select name from b_crm_linkman where id = #{id,jdbcType=INTEGER}
	</select>
	  
	<select id="selectMaxId"  resultType="java.lang.Integer" >
	   select max(id) from b_crm_linkman 
	</select>
		  
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <if test="topnumber!=null" >
       ${topnumber}
    </if>        
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from b_crm_linkman
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from b_crm_linkman
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectFieldsByPrimaryKey" resultMap="BaseResultMap"  parameterType="java.util.Map">
    select  
    <if test="columns == null" >
      <include refid="Base_Column_List" />
    </if>
    <if test="columns != null" >
       ${columns}
    </if>    
    from b_crm_linkman
    where id =  #{id,jdbcType=INTEGER}
  </select>  
    
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from b_crm_linkman
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="java.util.Map" >
    delete from b_crm_linkman
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.delmar.crm.model.Linkman" useGeneratedKeys="true" keyProperty="id" >
    insert into b_crm_linkman (linkCode,name,ename,department,
    call_id,birthday,phoneNo,email,
    customer_id,isMain,position,busPhone,fax,postCode,
    familyPhone,qq,skyper,other,
    hobby,taboo,nextLinkTime,firstLinkTime,LastLinkTime,remark,flag,client_id,org_id,user_id,
    user_name,created,createdBy,
    createdByName,updated,updatedBy,updatedByName)
    values (#{linkCode,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},
    #{ename,jdbcType=VARCHAR},#{department,jdbcType=VARCHAR},#{callId,jdbcType=INTEGER},
    #{birthday,jdbcType=TIMESTAMP},#{phoneNo,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR},#{customerId,jdbcType=INTEGER},
    #{isMain,jdbcType=VARCHAR},#{position,jdbcType=VARCHAR},#{busPhone,jdbcType=VARCHAR},
    #{fax,jdbcType=VARCHAR},#{postCode,jdbcType=VARCHAR},#{familyPhone,jdbcType=VARCHAR},
    #{qq,jdbcType=VARCHAR},#{skyper,jdbcType=VARCHAR},#{other,jdbcType=VARCHAR},
    #{hobby,jdbcType=VARCHAR},#{taboo,jdbcType=VARCHAR},#{nextLinkTime,jdbcType=TIMESTAMP}, #{firstLinkTime,jdbcType=TIMESTAMP}, 
      #{lastLinkTime,jdbcType=TIMESTAMP},#{remark,jdbcType=VARCHAR},
    #{flag,jdbcType=INTEGER},#{clientId,jdbcType=INTEGER},#{orgId,jdbcType=INTEGER},
    #{userId,jdbcType=INTEGER},#{userName,jdbcType=VARCHAR},#{created,jdbcType=TIMESTAMP},
    #{createdBy,jdbcType=INTEGER},#{createdByName,jdbcType=VARCHAR},
    #{updated,jdbcType=TIMESTAMP},#{updatedBy,jdbcType=INTEGER},#{updatedByName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.delmar.crm.model.Linkman" useGeneratedKeys="true" keyProperty="id" >
    insert into b_crm_linkman
    <trim prefix="(" suffix=")" suffixOverrides="," >
		<if test="linkCode != null">
		linkCode,
		</if>
		<if test="name != null">
		name,
		</if>
		<if test="ename != null">
		ename,
		</if>
		<if test="department != null">
		department,
		</if>
		<if test="callId != null">
		call_id,
		</if>
		<if test="birthday != null">
		birthday,
		</if>
		<if test="phoneNo != null">
		phoneNo,
		</if>
		<if test="email != null">
		email,
		</if>
		
		<if test="customerId != null">
		customer_Id,
		</if>
		<if test="isMain != null">
		isMain,
		</if>
		<if test="position != null">
		position,
		</if>
		<if test="busPhone != null">
		busPhone,
		</if>
		<if test="fax != null">
		fax,
		</if>
		<if test="postCode != null">
		postCode,
		</if>
		<if test="familyPhone != null">
		familyPhone,
		</if>
		<if test="qq != null">
		qq,
		</if>
		<if test="skyper != null">
		skyper,
		</if>
		<if test="other != null">
		other,
		</if>
		<if test="hobby != null">
		hobby,
		</if>
		<if test="taboo != null">
		taboo,
		</if>
		
		<if test="nextLinkTime != null">
		nextLinkTime,
		</if>
		<if test="firstLinkTime != null">
		firstLinkTime,
		</if>
		<if test="lastLinkTime != null">
		lastLinkTime,
		</if>
		
		<if test="remark != null">
		remark,
		</if>
		<if test="flag != null">
		flag,
		</if>
		<if test="clientId != null">
		client_id,
		</if>
		<if test="orgId != null">
		org_id,
		</if>
		<if test="userId != null">
		user_id,
		</if>
		<if test="userName != null">
		user_name,
		</if>
		<if test="created != null">
		created,
		</if>
		<if test="createdBy != null">
		createdBy,
		</if>
		<if test="createdByName != null">
		createdByName,
		</if>
		<if test="updated != null">
		updated,
		</if>
		<if test="updatedBy != null">
		updatedBy,
		</if>
		<if test="updatedByName != null">
		updatedByName,
		</if>      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
		<if test="linkCode != null">
		#{linkCode,jdbcType=VARCHAR},
		</if>
		<if test="name != null">
		#{name,jdbcType=VARCHAR},
		</if>
		<if test="ename != null">
		#{ename,jdbcType=VARCHAR},
		</if>
		<if test="department != null">
		#{department,jdbcType=VARCHAR},
		</if>
		<if test="callId != null">
		#{callId,jdbcType=INTEGER},
		</if>
		<if test="birthday != null">
		#{birthday,jdbcType=TIMESTAMP},
		</if>
		<if test="phoneNo != null">
		#{phoneNo,jdbcType=VARCHAR},
		</if>
		<if test="email != null">
		#{email,jdbcType=VARCHAR},
		</if>
		
		<if test="customerId != null">
		#{customerId,jdbcType=INTEGER},
		</if>
		<if test="isMain != null">
		#{isMain,jdbcType=VARCHAR},
		</if>
		<if test="position != null">
		#{position,jdbcType=VARCHAR},
		</if>
		<if test="busPhone != null">
		#{busPhone,jdbcType=VARCHAR},
		</if>
		<if test="fax != null">
		#{fax,jdbcType=VARCHAR},
		</if>
		<if test="postCode != null">
		#{postCode,jdbcType=VARCHAR},
		</if>
		<if test="familyPhone != null">
		#{familyPhone,jdbcType=VARCHAR},
		</if>
		<if test="qq != null">
		#{qq,jdbcType=VARCHAR},
		</if>
		<if test="skyper != null">
		#{skyper,jdbcType=VARCHAR},
		</if>
		<if test="other != null">
		#{other,jdbcType=VARCHAR},
		</if>
		<if test="hobby != null">
		#{hobby,jdbcType=VARCHAR},
		</if>
		<if test="taboo != null">
		#{taboo,jdbcType=VARCHAR},
		</if>
		
		<if test="nextLinkTime != null">
		#{nextLinkTime,jdbcType=TIMESTAMP},
		</if>
		<if test="firstLinkTime != null">
		#{firstLinkTime,jdbcType=TIMESTAMP},
		</if>
		<if test="lastLinkTime != null">
		#{lastLinkTime,jdbcType=TIMESTAMP},
		</if>
		
		<if test="remark != null">
		#{remark,jdbcType=VARCHAR},
		</if>
		<if test="flag != null">
		#{flag,jdbcType=INTEGER},
		</if>
		<if test="clientId != null">
		#{clientId,jdbcType=INTEGER},
		</if>
		<if test="orgId != null">
		#{orgId,jdbcType=INTEGER},
		</if>
		<if test="userId != null">
		#{userId,jdbcType=INTEGER},
		</if>
		<if test="userName != null">
		#{userName,jdbcType=VARCHAR},
		</if>
		<if test="created != null">
		#{created,jdbcType=TIMESTAMP},
		</if>
		<if test="createdBy != null">
		#{createdBy,jdbcType=INTEGER},
		</if>
		<if test="createdByName != null">
		#{createdByName,jdbcType=VARCHAR},
		</if>
		<if test="updated != null">
		#{updated,jdbcType=TIMESTAMP},
		</if>
		<if test="updatedBy != null">
		#{updatedBy,jdbcType=INTEGER},
		</if>
		<if test="updatedByName != null">
		#{updatedByName,jdbcType=VARCHAR},
		</if>
 
    </trim>
  </insert>
  <select id="selectMaxlinkCode"  resultType="java.lang.String">
  	SELECT MAX(linkcode)  FROM b_crm_linkman
  </select>
  <select id="countByExample" parameterType="java.util.Map" resultType="java.lang.Integer" >
    select count(*) from b_crm_linkman
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.delmar.crm.model.Linkman" >
    update b_crm_linkman
    <set >
		<if test="linkCode != null">
		linkCode = #{linkCode,jdbcType=VARCHAR},
		</if>
		<if test="name != null">
		name = #{name,jdbcType=VARCHAR},
		</if>
		<if test="ename != null">
		ename = #{ename,jdbcType=VARCHAR},
		</if>
		<if test="department != null">
		department = #{department,jdbcType=VARCHAR},
		</if>
		<if test="callId != null">
		call_id = #{callId,jdbcType=INTEGER},
		</if>
		<if test="birthday != null">
		birthday = #{birthday,jdbcType=TIMESTAMP},
		</if>
		<if test="phoneNo != null">
		phoneNo = #{phoneNo,jdbcType=VARCHAR},
		</if>
		<if test="email != null">
		email = #{email,jdbcType=VARCHAR},
		</if>
		
		<if test="customerId != null">
		customer_id = #{customerId,jdbcType=INTEGER},
		</if>
		<if test="isMain != null">
		isMain = #{isMain,jdbcType=VARCHAR},
		</if>
		<if test="position != null">
		position = #{position,jdbcType=VARCHAR},
		</if>
		<if test="busPhone != null">
		busPhone = #{busPhone,jdbcType=VARCHAR},
		</if>
		<if test="fax != null">
		fax = #{fax,jdbcType=VARCHAR},
		</if>
		<if test="postCode != null">
		postCode = #{postCode,jdbcType=VARCHAR},
		</if>
		<if test="familyPhone != null">
		familyPhone = #{familyPhone,jdbcType=VARCHAR},
		</if>
		<if test="qq != null">
		qq = #{qq,jdbcType=VARCHAR},
		</if>
		<if test="skyper != null">
		skyper = #{skyper,jdbcType=VARCHAR},
		</if>
		<if test="other != null">
		other = #{other,jdbcType=VARCHAR},
		</if>
		<if test="hobby != null">
		hobby = #{hobby,jdbcType=VARCHAR},
		</if>
		<if test="taboo != null">
		taboo = #{taboo,jdbcType=VARCHAR},
		</if>
		<if test="nextLinkTime != null">
		nextLinkTime = #{nextLinkTime,jdbcType=TIMESTAMP},
		</if>
		<if test="firstLinkTime != null">
		firstLinkTime = #{firstLinkTime,jdbcType=TIMESTAMP},
		</if>
		<if test="lastLinkTime != null">
		lastLinkTime = #{lastLinkTime,jdbcType=TIMESTAMP},
		</if>
		
		<if test="remark != null">
		remark = #{remark,jdbcType=VARCHAR},
		</if>
		<if test="flag != null">
		flag = #{flag,jdbcType=INTEGER},
		</if>
		<if test="updated != null">
		updated = #{updated,jdbcType=TIMESTAMP},
		</if>
		<if test="updatedBy != null">
		updatedBy = #{updatedBy,jdbcType=INTEGER},
		</if>
		<if test="updatedByName != null">
		updatedByName = #{updatedByName,jdbcType=VARCHAR},
		</if>

    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.delmar.crm.model.Linkman" >
    update b_crm_linkman
    set linkCode = #{linkCode,jdbcType=VARCHAR},
	name = #{name,jdbcType=VARCHAR},
	ename = #{ename,jdbcType=VARCHAR},
	department = #{department,jdbcType=VARCHAR},
	call_id = #{callId,jdbcType=INTEGER},
	birthday = #{birthday,jdbcType=TIMESTAMP},
	phoneNo = #{phoneNo,jdbcType=VARCHAR},
	email = #{email,jdbcType=VARCHAR},
	customer_id = #{customerId,jdbcType=INTEGER},
	isMain = #{isMain,jdbcType=VARCHAR},
	position = #{position,jdbcType=VARCHAR},
	busPhone = #{busPhone,jdbcType=VARCHAR},
	fax = #{fax,jdbcType=VARCHAR},
	postCode = #{postCode,jdbcType=VARCHAR},
	familyPhone = #{familyPhone,jdbcType=VARCHAR},
	qq = #{qq,jdbcType=VARCHAR},
	skyper = #{skyper,jdbcType=VARCHAR},
	other = #{other,jdbcType=VARCHAR},
	hobby = #{hobby,jdbcType=VARCHAR},
	taboo = #{taboo,jdbcType=VARCHAR},
	nextLinkTime = #{nextLinkTime,jdbcType=TIMESTAMP},
	firstLinkTime = #{firstLinkTime,jdbcType=TIMESTAMP},
	lastLinkTime = #{lastLinkTime,jdbcType=TIMESTAMP},
	remark = #{remark,jdbcType=VARCHAR},
	flag = #{flag,jdbcType=INTEGER},
	updated = #{updated,jdbcType=TIMESTAMP},
	updatedBy = #{updatedBy,jdbcType=INTEGER},
	updatedByName = #{updatedByName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateTimesData" parameterType="java.lang.Integer" >
    update b_crm_linkman
    set firstLinkTime=(select min(contact_date) from b_crm_linkrecord where flag=0 and linkman_id= #{id,jdbcType=INTEGER}),
    nextLinkTime=(select max(next_time) from b_crm_linkrecord where flag=0 and linkman_id= #{id,jdbcType=INTEGER}),
    lastLinkTime=(select max(contact_date) from b_crm_linkrecord where flag=0 and linkman_id= #{id,jdbcType=INTEGER})
    where id = #{id,jdbcType=INTEGER}
  </update>   
</mapper>