<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.delmar.crm.mybatis.sql.SalesSheetQuotaMapper" >
  <resultMap id="BaseResultMap" type="com.delmar.crm.model.SaleSheetQuota" >
    <id column="id" property="id" jdbcType="INTEGER" />
	<result column="sellbuy_Id" property="sellbuyId" jdbcType="INTEGER" />
	<result column="freight" property="freight" jdbcType="VARCHAR" />
	<result column="charge_Id" property="chargeId" jdbcType="INTEGER" />
	<result column="charge_name" property="chargeName" jdbcType="VARCHAR" />
	<result column="price" property="price" jdbcType="DECIMAL" />
	<result column="currency_Id" property="currencyId" jdbcType="INTEGER" />
	<result column="currencyRate" property="currencyRate" jdbcType="DECIMAL" />
	<result column="priceUnit_id" property="priceUnitId" jdbcType="INTEGER" />
	<result column="salesheet_Id" property="salesheetId" jdbcType="INTEGER" />
	<result column="remark" property="remark" jdbcType="VARCHAR" />
	<result column="flag" property="flag" jdbcType="INTEGER" />
    <!--
     <association property="currency" column="currency_Id" select="com.delmar.base.mybatis.sql.CurrencyMapper.selectByPrimaryKey" ></association>
     -->

  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
   	<if test="accessString!=null"> and ${accessString} </if>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id,sellbuy_Id,freight,charge_Id,charge_name,price,currency_Id,currencyRate,priceUnit_id,salesheet_Id,remark,flag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from b_crm_salesheet_quota
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from b_crm_salesheet_quota
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectFieldsByPrimaryKey" resultMap="BaseResultMap"  parameterType="java.util.Map">
    select  
    <if test="columns == null" >
      <include refid="Base_Column_List" />
    </if>
    <if test="columns != null" >
       ${columns}
    </if>    
    from b_crm_salesheet_quota
    where id = #{id,jdbcType=INTEGER}
  </select>  
    
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from b_crm_salesheet_quota
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="java.util.Map" >
    delete from b_crm_salesheet_quota
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.delmar.crm.model.SaleSheetQuota" useGeneratedKeys="true" keyProperty="id" >
    insert into b_crm_salesheet_quota (sellbuy_Id,freight,charge_Id,
    charge_name,price,currency_Id,currencyRate,
    priceUnit_id,salesheet_Id,remark,flag)
    values (#{sellbuyId,jdbcType=INTEGER},#{freight,jdbcType=VARCHAR},
    #{chargeId,jdbcType=INTEGER},#{chargeName,jdbcType=VARCHAR},#{price,jdbcType=DECIMAL},
    #{currencyId,jdbcType=INTEGER},#{currencyRate,jdbcType=DECIMAL},
    #{priceUnitId,jdbcType=INTEGER},#{salesheetId,jdbcType=INTEGER},
    #{remark,jdbcType=VARCHAR},#{flag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.delmar.crm.model.SaleSheetQuota" useGeneratedKeys="true" keyProperty="id" >
    insert into b_crm_salesheet_quota
    <trim prefix="(" suffix=")" suffixOverrides="," >
		<if test="sellbuyId != null">
		sellbuy_Id,
		</if>
		<if test="freight != null">
		freight,
		</if>
		<if test="chargeId != null">
		charge_Id,
		</if>
		<if test="chargeName != null">
		charge_name,
		</if>
		<if test="price != null">
		price,
		</if>
		<if test="currencyId != null">
		currency_Id,
		</if>
		<if test="currencyRate != null">
		currencyRate,
		</if>
		<if test="priceUnitId != null">
		priceUnit_id,
		</if>
		<if test="salesheetId != null">
		salesheet_Id,
		</if>
		<if test="remark != null">
		remark,
		</if>
		<if test="flag != null">
		flag,
		</if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
  	    <if test="sellbuyId != null">
		#{sellbuyId,jdbcType=INTEGER},
		</if>
		<if test="freight != null">
		#{freight,jdbcType=VARCHAR},
		</if>
		<if test="chargeId != null">
		#{chargeId,jdbcType=INTEGER},
		</if>
		<if test="chargeName != null">
		#{chargeName,jdbcType=VARCHAR},
		</if>
		<if test="price != null">
		#{price,jdbcType=DECIMAL},
		</if>
		<if test="currencyId != null">
		#{currencyId,jdbcType=INTEGER},
		</if>
		<if test="currencyRate != null">
		#{currencyRate,jdbcType=DECIMAL},
		</if>
		<if test="priceUnitId != null">
		#{priceUnitId,jdbcType=INTEGER},
		</if>
		<if test="salesheetId != null">
		#{salesheetId,jdbcType=INTEGER},
		</if>
		<if test="remark != null">
		#{remark,jdbcType=VARCHAR},
		</if>
		<if test="flag != null">
		#{flag,jdbcType=INTEGER},
		</if>

    </trim>
  </insert>
  <select id="countByExample" parameterType="java.util.Map" resultType="java.lang.Integer" >
    select count(*) from b_crm_salesheet_quota
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.delmar.crm.model.SaleSheetQuota" >
    update b_crm_salesheet_quota
    <set >
		<if test="sellbuyId != null">
		sellbuy_Id = #{sellbuyId,jdbcType=INTEGER},
		</if>
		<if test="freight != null">
		freight = #{freight,jdbcType=VARCHAR},
		</if>
		<if test="chargeId != null">
		charge_Id = #{chargeId,jdbcType=INTEGER},
		</if>
		<if test="chargeName != null">
		charge_name = #{chargeName,jdbcType=VARCHAR},
		</if>
		<if test="price != null">
		price = #{price,jdbcType=DECIMAL},
		</if>
		<if test="currencyId != null">
		currency_Id = #{currencyId,jdbcType=INTEGER},
		</if>
		<if test="currencyRate != null">
		currencyRate = #{currencyRate,jdbcType=DECIMAL},
		</if>
		<if test="priceUnitId != null">
		priceUnit_id = #{priceUnitId,jdbcType=INTEGER},
		</if>
		<if test="salesheetId != null">
		salesheet_Id = #{salesheetId,jdbcType=INTEGER},
		</if>
		<if test="remark != null">
		remark = #{remark,jdbcType=VARCHAR},
		</if>
		<if test="flag != null">
		flag = #{flag,jdbcType=INTEGER},
		</if>

    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.delmar.crm.model.SaleSheetQuota" >
    update b_crm_salesheet_quota
    set sellbuy_Id = #{sellbuyId,jdbcType=INTEGER},
		freight = #{freight,jdbcType=VARCHAR},
		charge_Id = #{chargeId,jdbcType=INTEGER},
		charge_name = #{chargeName,jdbcType=VARCHAR},
		price = #{price,jdbcType=DECIMAL},
		currency_Id = #{currencyId,jdbcType=INTEGER},
		currencyRate = #{currencyRate,jdbcType=DECIMAL},
		priceUnit_id = #{priceUnitId,jdbcType=INTEGER},
		salesheet_Id = #{salesheetId,jdbcType=INTEGER},
		remark = #{remark,jdbcType=VARCHAR},
		flag = #{flag,jdbcType=INTEGER}

    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>