<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:context="http://www.springframework.org/schema/context"  
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"  
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		 http://www.springframework.org/schema/context  
               http://www.springframework.org/schema/context/spring-context-4.0.xsd
               http://www.springframework.org/schema/task  
               http://www.springframework.org/schema/task/spring-task-4.0.xsd ">
	<!--
	<import resource="classpath:application-dao.xml" />
	<import resource="classpath:application-service.xml" />
	<import resource="classpath:cxf-servlet.xml" />
	<import resource="classpath:application-dwr.xml" /> -->
	<!-- 
	
	<bean id="sqlMapClient"
		class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation">
			<value>classpath:SqlMapConfig.xml</value>
		</property>
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	 -->
	 <!-- aop配置 日志 -->
	 <aop:aspectj-autoproxy/>
 <!-- 采用注释的方式配置bean -->    
    <context:annotation-config />    
    <task:annotation-driven/>
    <!-- 配置要扫描的包 -->
    <context:component-scan base-package="com.delmar"/>
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	<!-- <property name="location" value="classpath:database.properties"></property> -->
	<property name="locations">
		<list>
		<value>classpath:database.properties</value>
		<value>classpath:mail.properties</value>
		<value>classpath:redis.properties</value>
		</list>
	</property>
	
</bean>



    <!-- Session工厂 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
        <property name="dataSource" ref="dataSourceCore" />  
        <!-- mybatis配置文件 -->  
        <property name="configLocation" value="classpath:mybatis-config.xml" />
		<property name="mapperLocations" value="classpath*:com/delmar/**/*Mapper.xml"/>
    </bean>  
      
    <!-- 配置SqlSessionTemplate -->    
    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate" scope="prototype">
        <constructor-arg index="0" ref="sqlSessionFactory" />    
    </bean> 
    
    <bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSourceCore" />
	</bean>
	<aop:config>
		<aop:advisor advice-ref="txAdvice" pointcut="execution(* *..service.impl.*ServiceImpl.*(..))"/>
	</aop:config>

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="save*"  propagation="REQUIRED"  />
			<tx:method name="remove*"    propagation="REQUIRED" />
			<tx:method name="executeUpdate*"  propagation="REQUIRED" />
			<tx:method name="delete*"   propagation="REQUIRED" />
			<!-- <tx:method name="*" read-only="true"/>  -->
		</tx:attributes>
	</tx:advice>


	<!--<tx:annotation-driven/>-->
	
	
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="ApplicationMessages"/>
	</bean>
	


<!-- 
	<aop:config>
		<aop:pointcut id="serviceSaveMethodLog" expression="execution(* com.powere2e.service.*Service*.save*(..))"/>
		<aop:pointcut id="serviceUpdateMethodLog" expression="execution(* com.powere2e.service.*Service*.update*(..))"/>
		<aop:pointcut id="serviceRemoveMethodLog" expression="execution(* com.powere2e.service.*Service*.remove*(..))"/>
		<aop:advisor pointcut-ref="serviceSaveMethodLog" advice-ref="systemLog"/>
		<aop:advisor pointcut-ref="serviceRemoveMethodLog" advice-ref="systemLog"/>
		<aop:advisor pointcut-ref="serviceUpdateMethodLog" advice-ref="systemLog"/>
	
	<bean id="systemLog" class="com.powere2e.log.LogFactory"></bean>
	</aop:config> -->
	<!-- 系统日志 -->
	<!--datasource-->
	<import resource="classpath:spring/spring-database.xml"/>
	<!--redis-->
	<import resource="classpath:spring/spring-redis.xml" />
	<!--java mail-->
	<import resource="classpath:spring/spring-mail.xml" />
</beans>