<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.delmar.core.mybatis.sql.CoreCreatCodeMapper" >
  <resultMap id="BaseResultMap" type="com.delmar.core.model.CoreCreatCode" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="maxvalue" property="maxvalue" jdbcType="INTEGER" />
    <result column="client_id" property="clientId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where>
      <if test="accessString!=null"> 	 <![CDATA[ ${accessString} ]]>  </if>
      <if test="code!=null"> and code=#{code,jdbcType=VARCHAR} </if>
      <if test="clientId!=null"> and client_id=#{clientId,jdbcType=INTEGER} </if>    			      
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, code, maxvalue, client_id, name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.delmar.core.model.CoreCreatCode" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from core_creatCode
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  
  <select id="getMaxValue" resultType="java.lang.Integer" parameterType="java.util.Map" >
     select MaxValue from core_creatCode where code = #{code,jdbcType=VARCHAR} and client_id=   #{clientId,jdbcType=INTEGER} 
  </select>
  
    
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from core_creatCode
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from core_creatCode
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.delmar.core.model.CoreCreatCode" >
    delete from core_creatCode
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.delmar.core.model.CoreCreatCode" useGeneratedKeys="true" keyProperty="id" >
    insert into core_creatCode (code, maxvalue, client_id, 
      name)
    values (#{code,jdbcType=VARCHAR}, #{maxvalue,jdbcType=INTEGER}, #{clientId,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.delmar.core.model.CoreCreatCode" useGeneratedKeys="true" keyProperty="id" >
    insert into core_creatCode
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        code,
      </if>
      <if test="maxvalue != null" >
        maxvalue,
      </if>
      <if test="clientId != null" >
        client_id,
      </if>
      <if test="name != null" >
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="maxvalue != null" >
        #{maxvalue,jdbcType=INTEGER},
      </if>
      <if test="clientId != null" >
        #{clientId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.delmar.core.model.CoreCreatCode" resultType="java.lang.Integer" >
    select count(*) from core_creatCode
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.delmar.core.model.CoreCreatCode" >
    update core_creatCode
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="maxvalue != null" >
        maxvalue = #{maxvalue,jdbcType=INTEGER},
      </if>
      <if test="clientId != null" >
        client_id = #{clientId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.delmar.core.model.CoreCreatCode" >
    update core_creatCode
    set code = #{code,jdbcType=VARCHAR},
      maxvalue = #{maxvalue,jdbcType=INTEGER},
      client_id = #{clientId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateMaxValue" parameterType="com.delmar.core.model.CoreCreatCode" >
    update core_creatCode
    set 
      maxvalue = #{maxvalue,jdbcType=INTEGER} 
    where code = #{code,jdbcType=VARCHAR} and
       client_id = #{clientId,jdbcType=INTEGER}
  </update>
  
    
</mapper>