<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.delmar.core.mybatis.sql.MessageTrlMapper" >
    <resultMap id="BaseResultMap" type="com.delmar.core.model.MessageTrl" >
            <id column="id" property="id" jdbcType="INTEGER" />
            <result column="message_id" property="messageId" jdbcType="INTEGER" />
            <result column="language" property="language" jdbcType="VARCHAR" />
            <result column="msgtext" property="msgtext" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Example_Where_Clause" >
        <where >
                <if test="messageId!=null"> and message_id=#{messageId,jdbcType=INTEGER} </if>
                <if test="language!=null"> and language=#{language,jdbcType=VARCHAR} </if>
                <if test="searchString!=null"> and ${searchString} </if>
                <if test="accessString!=null"> and ${accessString} </if>

        </where>
    </sql>
    <sql id="Base_Column_List" >
      id,   message_id,   language,   msgtext 
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="java.util.Map" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from core_message_trl
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from core_message_trl
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from core_message_trl
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="java.util.Map" >
        delete from core_message_trl
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" parameterType="com.delmar.core.model.MessageTrl" >
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into core_message_trl (     message_id,   language,   msgtext )
        values (  #{messageId,jdbcType=INTEGER}, #{language,jdbcType=VARCHAR}, #{msgtext,jdbcType=VARCHAR} )
    </insert>
    <insert id="insertSelective" parameterType="com.delmar.core.model.MessageTrl" >
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into core_message_trl
        <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="messageId != null" >
                    message_id,
                </if>
                <if test="language != null" >
                    language,
                </if>
                <if test="msgtext != null" >
                    msgtext,
                </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
    <if test="messageId != null" >
    #{messageId,jdbcType=VARCHAR}},
    </if>
    <if test="language != null" >
    #{language,jdbcType=VARCHAR}},
    </if>
    <if test="msgtext != null" >
    #{msgtext,jdbcType=VARCHAR}},
    </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="java.util.Map" resultType="java.lang.Integer" >
        select count(*) from core_message_trl
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByPrimaryKeySelective" parameterType="com.delmar.core.model.MessageTrl" >
        update core_message_trl
        <set >
    <if test="messageId != null" >
        message_id = #{messageId,jdbcType=INTEGER},
    </if>
    <if test="language != null" >
        language = #{language,jdbcType=VARCHAR},
    </if>
    <if test="msgtext != null" >
        msgtext = #{msgtext,jdbcType=VARCHAR},
    </if>

        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.delmar.core.model.MessageTrl" >
        update core_message_trl
        set 
            
            message_id = #{messageId,jdbcType=INTEGER},

            language = #{language,jdbcType=VARCHAR},

            msgtext = #{msgtext,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>