<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.delmar.core.mybatis.sql.SearchColumnMapper" >
    <resultMap id="BaseResultMap" type="com.delmar.core.model.SearchColumn" >
            <id column="id" property="id" jdbcType="INTEGER" />
            <result column="search_id" property="searchId" jdbcType="INTEGER" />
            <result column="column_name" property="columnName" jdbcType="VARCHAR" />
            <result column="data_type" property="dataType" jdbcType="INTEGER" />
            <result column="show_type" property="showType" jdbcType="INTEGER" />
            <result column="rel_oper" property="relOper" jdbcType="VARCHAR" />
            <result column="fk_table" property="fkTable" jdbcType="VARCHAR" />
            <result column="fk_key_column" property="fkKeyColumn" jdbcType="VARCHAR" />
            <result column="fk_label_column" property="fkLabelColumn" jdbcType="VARCHAR" />
            <result column="coditions" property="coditions" jdbcType="VARCHAR" />
            <result column="remark" property="remark" jdbcType="VARCHAR" />
            <result column="column_label" property="columnLabel" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Example_Where_Clause" >
        <where >
                <if test="searchId!=null"> and search_id=#{searchId,jdbcType=INTEGER} </if>
        </where>
    </sql>
    <sql id="Base_Column_List" >
      id,   search_id,   column_name,   data_type,   show_type,   rel_oper,   fk_table,   fk_key_column,   fk_label_column,   coditions,   remark,   column_label 
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="java.util.Map" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from core_search_column
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from core_search_column
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from core_search_column
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="java.util.Map" >
        delete from core_search_column
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" parameterType="com.delmar.core.model.SearchColumn" >
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into core_search_column (     search_id,   column_name,   data_type,   show_type,   rel_oper,   fk_table,   fk_key_column,   fk_label_column,   coditions,   remark,   column_label )
        values (  #{searchId,jdbcType=INTEGER}, #{columnName,jdbcType=VARCHAR}, #{dataType,jdbcType=INTEGER}, #{showType,jdbcType=INTEGER}, #{relOper,jdbcType=VARCHAR}, #{fkTable,jdbcType=VARCHAR}, #{fkKeyColumn,jdbcType=VARCHAR}, #{fkLabelColumn,jdbcType=VARCHAR}, #{coditions,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{columnLabel,jdbcType=VARCHAR} )
    </insert>
    <insert id="insertSelective" parameterType="com.delmar.core.model.SearchColumn" >
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into core_search_column
        <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="searchId != null" >
                    search_id,
                </if>
                <if test="columnName != null" >
                    column_name,
                </if>
                <if test="dataType != null" >
                    data_type,
                </if>
                <if test="showType != null" >
                    show_type,
                </if>
                <if test="relOper != null" >
                    rel_oper,
                </if>
                <if test="fkTable != null" >
                    fk_table,
                </if>
                <if test="fkKeyColumn != null" >
                    fk_key_column,
                </if>
                <if test="fkLabelColumn != null" >
                    fk_label_column,
                </if>
                <if test="coditions != null" >
                    coditions,
                </if>
                <if test="remark != null" >
                    remark,
                </if>
                <if test="columnLabel != null" >
                    column_label,
                </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
    <if test="searchId != null" >
    #{searchId,jdbcType=VARCHAR}},
    </if>
    <if test="columnName != null" >
    #{columnName,jdbcType=VARCHAR}},
    </if>
    <if test="dataType != null" >
    #{dataType,jdbcType=VARCHAR}},
    </if>
    <if test="showType != null" >
    #{showType,jdbcType=VARCHAR}},
    </if>
    <if test="relOper != null" >
    #{relOper,jdbcType=VARCHAR}},
    </if>
    <if test="fkTable != null" >
    #{fkTable,jdbcType=VARCHAR}},
    </if>
    <if test="fkKeyColumn != null" >
    #{fkKeyColumn,jdbcType=VARCHAR}},
    </if>
    <if test="fkLabelColumn != null" >
    #{fkLabelColumn,jdbcType=VARCHAR}},
    </if>
    <if test="coditions != null" >
    #{coditions,jdbcType=VARCHAR}},
    </if>
    <if test="remark != null" >
    #{remark,jdbcType=VARCHAR}},
    </if>
    <if test="columnLabel != null" >
    #{columnLabel,jdbcType=VARCHAR}},
    </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="java.util.Map" resultType="java.lang.Integer" >
        select count(*) from core_search_column
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByPrimaryKeySelective" parameterType="com.delmar.core.model.SearchColumn" >
        update core_search_column
        <set >
    <if test="searchId != null" >
        search_id = #{searchId,jdbcType=INTEGER},
    </if>
    <if test="columnName != null" >
        column_name = #{columnName,jdbcType=VARCHAR},
    </if>
    <if test="dataType != null" >
        data_type = #{dataType,jdbcType=INTEGER},
    </if>
    <if test="showType != null" >
        show_type = #{showType,jdbcType=INTEGER},
    </if>
    <if test="relOper != null" >
        rel_oper = #{relOper,jdbcType=VARCHAR},
    </if>
    <if test="fkTable != null" >
        fk_table = #{fkTable,jdbcType=VARCHAR},
    </if>
    <if test="fkKeyColumn != null" >
        fk_key_column = #{fkKeyColumn,jdbcType=VARCHAR},
    </if>
    <if test="fkLabelColumn != null" >
        fk_label_column = #{fkLabelColumn,jdbcType=VARCHAR},
    </if>
    <if test="coditions != null" >
        coditions = #{coditions,jdbcType=VARCHAR},
    </if>
    <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
    </if>
    <if test="columnLabel != null" >
        column_label = #{columnLabel,jdbcType=VARCHAR},
    </if>

        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.delmar.core.model.Window" >
        update core_search_column
        set 
            
            search_id = #{searchId,jdbcType=INTEGER},

            column_name = #{columnName,jdbcType=VARCHAR},

            data_type = #{dataType,jdbcType=INTEGER},

            show_type = #{showType,jdbcType=INTEGER},

            rel_oper = #{relOper,jdbcType=VARCHAR},

            fk_table = #{fkTable,jdbcType=VARCHAR},

            fk_key_column = #{fkKeyColumn,jdbcType=VARCHAR},

            fk_label_column = #{fkLabelColumn,jdbcType=VARCHAR},

            coditions = #{coditions,jdbcType=VARCHAR},

            remark = #{remark,jdbcType=VARCHAR},

            column_label = #{columnLabel,jdbcType=VARCHAR}

        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>