<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.delmar.core.mybatis.sql.SearchColumnMapper">
  <resultMap id="BaseResultMap" type="com.delmar.core.model.SearchColumn">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="search_id" jdbcType="INTEGER" property="searchId" />
    <result column="column_name" jdbcType="VARCHAR" property="columnName" />
    <result column="data_type" jdbcType="INTEGER" property="dataType" />
    <result column="show_type" jdbcType="INTEGER" property="showType" />
    <result column="rel_oper" jdbcType="VARCHAR" property="relOper" />
    <result column="table_name" jdbcType="VARCHAR" property="tableName" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="coditions" jdbcType="VARCHAR" property="coditions" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="column_show_name" jdbcType="VARCHAR" property="columnShowName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
     <if test="searchId!=null"> and search_id=#{searchId,INTEGER} </if>
     <if test="accessString!=null"> and ${accessString} </if>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, search_id, column_name, data_type, show_type, rel_oper, table_name, value, name, 
    coditions, remark, column_show_name
  </sql>
  <select id="selectByExample" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from core_search_column
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from core_search_column
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from core_search_column
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="java.util.Map">
    delete from core_search_column
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.delmar.core.model.SearchColumn" useGeneratedKeys="true">
    insert into core_search_column (search_id, column_name, data_type, 
      show_type, rel_oper, table_name, 
      value, name, coditions, 
      remark, column_show_name)
    values (#{searchId,jdbcType=INTEGER}, #{columnName,jdbcType=VARCHAR}, #{dataType,jdbcType=INTEGER}, 
      #{showType,jdbcType=INTEGER}, #{relOper,jdbcType=VARCHAR}, #{tableName,jdbcType=VARCHAR}, 
      #{value,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{coditions,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{columnShowName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.delmar.core.model.SearchColumn" useGeneratedKeys="true">
    insert into core_search_column
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="searchId != null">
        search_id,
      </if>
      <if test="columnName != null">
        column_name,
      </if>
      <if test="dataType != null">
        data_type,
      </if>
      <if test="showType != null">
        show_type,
      </if>
      <if test="relOper != null">
        rel_oper,
      </if>
      <if test="tableName != null">
        table_name,
      </if>
      <if test="value != null">
        value,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="coditions != null">
        coditions,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="columnShowName != null">
        column_show_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="searchId != null">
        #{searchId,jdbcType=INTEGER},
      </if>
      <if test="columnName != null">
        #{columnName,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null">
        #{dataType,jdbcType=INTEGER},
      </if>
      <if test="showType != null">
        #{showType,jdbcType=INTEGER},
      </if>
      <if test="relOper != null">
        #{relOper,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null">
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="coditions != null">
        #{coditions,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="columnShowName != null">
        #{columnShowName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(*) from core_search_column
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.delmar.core.model.SearchColumn">
    update core_search_column
    <set>
      <if test="searchId != null">
        search_id = #{searchId,jdbcType=INTEGER},
      </if>
      <if test="columnName != null">
        column_name = #{columnName,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null">
        data_type = #{dataType,jdbcType=INTEGER},
      </if>
      <if test="showType != null">
        show_type = #{showType,jdbcType=INTEGER},
      </if>
      <if test="relOper != null">
        rel_oper = #{relOper,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null">
        table_name = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="coditions != null">
        coditions = #{coditions,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="columnShowName != null">
        column_show_name = #{columnShowName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.delmar.core.model.SearchColumn">
    update core_search_column
    set search_id = #{searchId,jdbcType=INTEGER},
      column_name = #{columnName,jdbcType=VARCHAR},
      data_type = #{dataType,jdbcType=INTEGER},
      show_type = #{showType,jdbcType=INTEGER},
      rel_oper = #{relOper,jdbcType=VARCHAR},
      table_name = #{tableName,jdbcType=VARCHAR},
      value = #{value,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      coditions = #{coditions,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      column_show_name = #{columnShowName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>