<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.delmar.core.mybatis.sql.SearchMapper" >
    <resultMap id="BaseResultMap" type="com.delmar.core.model.Search" >
            <id column="id" property="id" jdbcType="INTEGER" />
            <result column="name" property="name" jdbcType="VARCHAR" />
            <result column="remark" property="remark" jdbcType="VARCHAR" />
            <result column="page_url" property="pageUrl" jdbcType="VARCHAR" />
    </resultMap>
    <resultMap id="commonListResult" type="com.delmar.core.model.CommonSearchResult">
        <result column="c_key" property="key" jdbcType="VARCHAR" />
        <result column="c_label" property="label" jdbcType="VARCHAR" />
    </resultMap>
    <select id="selectCommonList" parameterType="com.delmar.core.model.CommonSearchParam" resultMap="commonListResult">
        select ${keyValue} as c_key, ${labelValue} as c_label from ${tableName}
        <where >
            <if test="conditions!=null"> and ${conditions} </if>
        </where>
    </select>
    
    <sql id="Example_Where_Clause" >
        <where >
              <if test="pageUrl!=null"> and page_url= #{pageUrl,jdbcType=VARCHAR} </if>
        </where>
    </sql>
    <sql id="Base_Column_List" >
      id,   name,   remark,   page_url 
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="java.util.Map" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from core_search
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from core_search
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from core_search
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="java.util.Map" >
        delete from core_search
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" parameterType="com.delmar.core.model.Search" >
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into core_search (     name,   remark,   page_url )
        values (  #{name,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{pageUrl,jdbcType=VARCHAR} )
    </insert>
    <insert id="insertSelective" parameterType="com.delmar.core.model.Search" >
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into core_search
        <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="name != null" >
                    name,
                </if>
                <if test="remark != null" >
                    remark,
                </if>
                <if test="pageUrl != null" >
                    page_url,
                </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
    <if test="name != null" >
    #{name,jdbcType=VARCHAR}},
    </if>
    <if test="remark != null" >
    #{remark,jdbcType=VARCHAR}},
    </if>
    <if test="pageUrl != null" >
    #{pageUrl,jdbcType=VARCHAR}},
    </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="java.util.Map" resultType="java.lang.Integer" >
        select count(*) from core_search
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByPrimaryKeySelective" parameterType="com.delmar.core.model.Search" >
        update core_search
        <set >
    <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
    </if>
    <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
    </if>
    <if test="pageUrl != null" >
        page_url = #{pageUrl,jdbcType=VARCHAR},
    </if>

        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.delmar.core.model.Window" >
        update core_search
        set 
            
            name = #{name,jdbcType=VARCHAR},

            remark = #{remark,jdbcType=VARCHAR},

            page_url = #{pageUrl,jdbcType=VARCHAR}

        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>