<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.delmar.core.mybatis.sql.WindowTrlMapper" >
    <resultMap id="BaseResultMap" type="com.delmar.core.model.WindowTrl" >
            <id column="id" property="id" jdbcType="INTEGER" />
            <result column="name" property="name" jdbcType="VARCHAR" />
            <result column="descr" property="descr" jdbcType="VARCHAR" />
            <result column="help" property="help" jdbcType="VARCHAR" />
            <result column="window_id" property="windowId" jdbcType="INTEGER" />
            <result column="language" property="language" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Example_Where_Clause" >
        <where >
                <if test="windowId!=null"> and window_id=#{windowId,jdbcType=INTEGER} </if>
                <if test="language!=null"> and language=#{language,jdbcType=VARCHAR} </if>
                <if test="searchString!=null"> and ${searchString} </if>
                <if test="accessString!=null"> and ${accessString} </if>

        </where>
    </sql>
    <sql id="Base_Column_List" >
      id,   name,   descr,   help,   window_id,   language 
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="java.util.Map" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from core_window_trl
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from core_window_trl
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from core_window_trl
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="java.util.Map" >
        delete from core_window_trl
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" parameterType="com.delmar.core.model.WindowTrl" >
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into core_window_trl (     name,   descr,   help,   window_id,   language )
        values (  #{name,jdbcType=VARCHAR}, #{descr,jdbcType=VARCHAR}, #{help,jdbcType=VARCHAR}, #{windowId,jdbcType=INTEGER}, #{language,jdbcType=VARCHAR} )
    </insert>
    <insert id="insertSelective" parameterType="com.delmar.core.model.WindowTrl" >
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into core_window_trl
        <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="name != null" >
                    name,
                </if>
                <if test="descr != null" >
                    descr,
                </if>
                <if test="help != null" >
                    help,
                </if>
                <if test="windowId != null" >
                    window_id,
                </if>
                <if test="language != null" >
                    language,
                </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
    <if test="name != null" >
    #{name,jdbcType=VARCHAR}},
    </if>
    <if test="descr != null" >
    #{descr,jdbcType=VARCHAR}},
    </if>
    <if test="help != null" >
    #{help,jdbcType=VARCHAR}},
    </if>
    <if test="windowId != null" >
    #{windowId,jdbcType=VARCHAR}},
    </if>
    <if test="language != null" >
    #{language,jdbcType=VARCHAR}},
    </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="java.util.Map" resultType="java.lang.Integer" >
        select count(*) from core_window_trl
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByPrimaryKeySelective" parameterType="com.delmar.core.model.WindowTrl" >
        update core_window_trl
        <set >
    <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
    </if>
    <if test="descr != null" >
        descr = #{descr,jdbcType=VARCHAR},
    </if>
    <if test="help != null" >
        help = #{help,jdbcType=VARCHAR},
    </if>
    <if test="windowId != null" >
        window_id = #{windowId,jdbcType=INTEGER},
    </if>
    <if test="language != null" >
        language = #{language,jdbcType=VARCHAR},
    </if>

        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.delmar.core.model.Window" >
        update core_window_trl
        set 
            
            name = #{name,jdbcType=VARCHAR},

            descr = #{descr,jdbcType=VARCHAR},

            help = #{help,jdbcType=VARCHAR},

            window_id = #{windowId,jdbcType=INTEGER},

            language = #{language,jdbcType=VARCHAR}

        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>