<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.delmar.officeTest.mybatis.sql.OfficeTestExamDetailMapper" >
  <resultMap id="BaseResultMap" type="com.delmar.officeTest.model.OfficeTestExamDetail" extends="com.delmar.common.mybatis.sql.CommonMapper.BusCoreResultMap">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="exam_id" property="examId" jdbcType="INTEGER" />
    <result column="examUserId" property="examUserId" jdbcType="INTEGER" />
    <result column="examUserName" property="examUserName" jdbcType="NVARCHAR" />
    <result column="testQuestion_id" property="testQuestionId" jdbcType="INTEGER" />
    <result column="examAnswer" property="examAnswer" jdbcType="NVARCHAR" />
    <result column="rightAnswer" property="rightAnswer" jdbcType="NVARCHAR" />
    <result column="examScore" property="examScore" jdbcType="INTEGER" />
    <result column="zfbz" property="zfbz" jdbcType="INTEGER" />
    <result column="testbank_id" property="testBankId" jdbcType="INTEGER" />
    
    <association property="officeTestExam" column="exam_id" select="com.delmar.officeTest.mybatis.sql.OfficeTestExamMapper.selectByPrimaryKey"></association>    
    <association property="officeTestQuestion" column="testQuestion_id" select="com.delmar.officeTest.mybatis.sql.OfficeTestQuestionMapper.selectByPrimaryKey"></association>    
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      	<if test="accessString!=null"> 	 <![CDATA[ ${accessString} ]]>  </if>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, exam_id, examUserId, examUserName, testQuestion_id, examAnswer, rightAnswer, examScore, zfbz, testbank_id
   
  </sql>
  
	<select id="selectNameById"  resultType="java.lang.String" parameterType="java.lang.Integer"  >
	   select name from office_TestExam_Detail where id = #{id,jdbcType=INTEGER}
	</select>
  
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <if test="topnumber!=null" >
       ${topnumber}
    </if>        
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <if test="columns != null" >
        ${columns}
    </if>
    
    <if test="columns == null" >
       <include refid="Base_Column_List" />
    </if>    
    
    from office_TestExam_Detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  <select id="selectByParm" resultMap="BaseResultMap" parameterType="java.util.Map" >
    <if test="customSelect != null" >
      ${customSelect}
    </if>
    <if test="orderBy != null" >
      ${orderBy}
    </if>
  </select>
  
    
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from office_TestExam_Detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByFatherKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from office_TestExam_Detail
    where exam_id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey"  parameterType="java.lang.Integer" >
    delete from office_TestExam_Detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="java.util.Map" >
    delete from office_TestExam_Detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.delmar.officeTest.model.OfficeTestExamDetail" useGeneratedKeys="true" keyProperty="id" >
    insert into office_TestExam_Detail (exam_id, examUserId, examUserName, testQuestion_id, examAnswer, rightAnswer, examScore,zfbz,testbank_id)
    values (#{examId,jdbcType=INTEGER}, #{examUserId,jdbcType=INTEGER}, 
      #{examUserName,jdbcType=NVARCHAR}, #{testQuestionId,jdbcType=INTEGER}, 
      #{examAnswer,jdbcType=NVARCHAR}, #{rightAnswer,jdbcType=NVARCHAR}, 
      #{examScore,jdbcType=INTEGER},#{zfbz,jdbcType=INTEGER},#{testBankId,jdbcType=INTEGER}
      )
      
  </insert>
  
  <select id="countByExample" parameterType="java.util.Map" resultType="java.lang.Integer" >
    select count(*) from office_TestExam_Detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <update id="updateByPrimaryKey" parameterType="com.delmar.officeTest.model.OfficeTestExamDetail" >
    update office_TestExam_Detail
    set exam_id = #{examId,jdbcType=INTEGER},
      examUserId = #{examUserId,jdbcType=INTEGER},
      examUserName = #{examUserName,jdbcType=NVARCHAR},
      testQuestion_id = #{testQuestionId,jdbcType=INTEGER},
      examAnswer = #{examAnswer,jdbcType=NVARCHAR},
      rightAnswer = #{rightAnswer,jdbcType=NVARCHAR},
      examScore = #{examScore,jdbcType=INTEGER},
      zfbz = #{zfbz,jdbcType=INTEGER},
      testbank_id = #{testBankId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.delmar.officeTest.model.OfficeTestExamDetail" >
    update office_TestExam_Detail
    <set >
      <if test="examId != null" >
        exam_id = #{examId,jdbcType=INTEGER},
      </if>
      <if test="examUserId != null" >
        examUserId = #{examUserId,jdbcType=INTEGER},
      </if>
      <if test="examUserName != null" >
        examUserName = #{examUserName,jdbcType=NVARCHAR},
      </if>
      <if test="testQuestionId != null" >
        testQuestion_id = #{testQuestionId,jdbcType=INTEGER},
      </if>
      <if test="examAnswer != null" >
        examAnswer = #{examAnswer,jdbcType=NVARCHAR},
      </if>
      <if test="rightAnswer != null" >
        rightAnswer = #{rightAnswer,jdbcType=NVARCHAR},
      </if>
      <if test="examScore != null" >
        examScore = #{examScore,jdbcType=INTEGER},
      </if>
      <if test="zfbz != null" >
        zfbz = #{zfbz,jdbcType=INTEGER},
      </if>
      <if test="zfbz != null" >
        testbank_id = #{testBankId,jdbcType=INTEGER}
      </if>
      
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>