<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.delmar.officeTest.mybatis.sql.OfficeTestExamMapper" >
  <resultMap id="BaseResultMap" type="com.delmar.officeTest.model.OfficeTestExam" extends="com.delmar.common.mybatis.sql.CommonMapper.BusCoreResultMap">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="examUserId" property="examUserId" jdbcType="INTEGER" />
    <result column="examUserName" property="examUserName" jdbcType="NVARCHAR" />
    <result column="examScore" property="examScore" jdbcType="INTEGER" />
    <result column="timeUsed" property="timeUsed" jdbcType="INTEGER" />
    <result column="client_id" property="clientId" jdbcType="INTEGER" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="NVARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="createdBy" property="createdBy" jdbcType="INTEGER" />
    <result column="createdByName" property="createdByName" jdbcType="NVARCHAR" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
    <result column="updatedBy" property="updatedBy" jdbcType="INTEGER" />
    <result column="updatedByName" property="updatedByName" jdbcType="NVARCHAR" />
    <result column="beCancel" property="beCancel" jdbcType="INTEGER" />
    <result column="testBank_id" property="testBankId" jdbcType="INTEGER" />
    
    <association property="officeTestBank" column="testBank_id" select="com.delmar.officeTest.mybatis.sql.OfficeTestBankMapper.selectByPrimaryKey"></association>    
    <collection property="officeTestExamDetails" select="com.delmar.officeTest.mybatis.sql.OfficeTestExamDetailMapper.selectByFatherKey" column="id">  </collection>  
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      	<if test="accessString!=null"> 	 <![CDATA[ ${accessString} ]]>  </if>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, examUserId, examUserName, examScore, timeUsed, client_id, org_id,user_id,user_name ,created ,createdBy 
    ,createdByName ,updated ,updatedBy ,updatedByName, beCancel ,testBank_id  
   
  </sql>
  
	<select id="selectNameById"  resultType="java.lang.String" parameterType="java.lang.Integer"  >
	   select name from office_TestExam where id = #{id,jdbcType=INTEGER}
	</select>
  
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <if test="topnumber!=null" >
       ${topnumber}
    </if>        
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <if test="columns != null" >
        ${columns}
    </if>
    
    <if test="columns == null" >
       <include refid="Base_Column_List" />
    </if>    
    
    from office_TestExam
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  <select id="selectByParm" resultMap="BaseResultMap" parameterType="java.util.Map" >
    <if test="customSelect != null" >
      ${customSelect}
    </if>
    <if test="orderBy != null" >
      ${orderBy}
    </if>
  </select>
  
    
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from office_TestExam
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey"  parameterType="java.lang.Integer" >
    delete from office_TestExam
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="java.util.Map" >
    delete from office_TestExam
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.delmar.officeTest.model.OfficeTestExam" useGeneratedKeys="true" keyProperty="id" >
    insert into office_TestExam (examUserId, examUserName, examScore, timeUsed, client_id, org_id,user_id,user_name ,created ,createdBy 
    ,createdByName ,updated ,updatedBy ,updatedByName, beCancel ,testBank_id)
    values (#{examUserId,jdbcType=INTEGER},  #{examUserName,jdbcType=NVARCHAR},
      #{examScore,jdbcType=INTEGER},  #{timeUsed,jdbcType=INTEGER}
      , #{clientId,jdbcType=INTEGER}, #{orgId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{userName,jdbcType=NVARCHAR}
    , #{created,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=INTEGER}, #{createdByName,jdbcType=NVARCHAR}, #{updated,jdbcType=TIMESTAMP}
    , #{updatedBy,jdbcType=INTEGER}, #{updatedByName,jdbcType=NVARCHAR}
    , #{beCancel,jdbcType=INTEGER}, #{testBankId,jdbcType=INTEGER}
      )
  </insert>
  
  <select id="countByExample" parameterType="java.util.Map" resultType="java.lang.Integer" >
    select count(*) from office_TestExam
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <update id="updateByPrimaryKey" parameterType="com.delmar.officeTest.model.OfficeTestExam" >
    update office_TestExam
    set examUserId = #{examUserId,jdbcType=INTEGER},
      examUserName = #{examUserName,jdbcType=NVARCHAR},
      examScore = #{examScore,jdbcType=INTEGER},
      timeUsed = #{timeUsed,jdbcType=INTEGER},
      client_id = #{clientId,jdbcType=INTEGER}, 
      org_id = #{orgId,jdbcType=INTEGER}, 
      user_id = #{userId,jdbcType=INTEGER}, 
      user_name = #{userName,jdbcType=NVARCHAR}, 
      created = #{created,jdbcType=TIMESTAMP}, 
      createdBy = #{createdBy,jdbcType=INTEGER}, 
      createdByName = #{createdByName,jdbcType=NVARCHAR}, 
      updated = #{updated,jdbcType=TIMESTAMP}, 
      updatedBy = #{updatedBy,jdbcType=INTEGER}, 
      updatedByName = #{updatedByName,jdbcType=NVARCHAR},
      beCancel = #{beCancel,jdbcType=INTEGER}, 
      testBank_id = #{testBankId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.delmar.officeTest.model.OfficeTestExam" >
    update office_TestExam
    <set >
      <if test="examUserId != null" >
        examUserId = #{examUserId,jdbcType=INTEGER},
      </if>
      <if test="examUserName != null" >
        examUserName = #{examUserName,jdbcType=NVARCHAR},
      </if>
      <if test="examScore != null" >
        examScore = #{examScore,jdbcType=INTEGER},
      </if>
      <if test="timeUsed != null" >
        timeUsed = #{timeUsed,jdbcType=INTEGER},
      </if>
      <if test="clientId != null" >
        client_id = #{clientId,jdbcType=INTEGER},
      </if>
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=NVARCHAR},
      </if>      
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        createdBy = #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="createdByName != null" >
        createdByName = #{createdByName,jdbcType=NVARCHAR},
      </if>
      <if test="updated != null" >
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        updatedBy = #{updatedBy,jdbcType=INTEGER},
      </if>
      <if test="updatedByName != null" >
        updatedByName = #{updatedByName,jdbcType=NVARCHAR},
      </if> 
      <if test="beCancel != null" >
        beCancel = #{beCancel,jdbcType=INTEGER},
      </if>
      <if test="testBankId != null" >
        testBank_id = #{testBankId,jdbcType=INTEGER},
      </if>         
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>