<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.delmar.base.mybatis.sql.CityMapper" >
  <resultMap id="BaseResultMap" type="com.delmar.base.model.City" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="NVARCHAR" />
    <result column="cname" property="cname" jdbcType="NVARCHAR" />
    <result column="ename" property="ename" jdbcType="NVARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="levelint" property="levelint" jdbcType="INTEGER" />
    <result column="relate_city_id" property="relateCityId" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="NVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
         <if test="searchString!=null"> and ${searchString}</if>
         <if test="accessString!=null"> ${accessString} </if>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, code, cname, ename, parent_id, levelint, relate_city_id, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from base_city
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from base_city
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from base_city
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="java.util.Map" >
    delete from base_city
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.delmar.base.model.City" useGeneratedKeys="true" keyProperty="id" >
    insert into base_city (code, cname, ename, 
      parent_id, levelint, relate_city_id, 
      remark)
    values (#{code,jdbcType=NVARCHAR}, #{cname,jdbcType=NVARCHAR}, #{ename,jdbcType=NVARCHAR}, 
      #{parentId,jdbcType=INTEGER}, #{levelint,jdbcType=INTEGER}, #{relateCityId,jdbcType=INTEGER}, 
      #{remark,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.delmar.base.model.City" useGeneratedKeys="true" keyProperty="id" >
    insert into base_city
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        code,
      </if>
      <if test="cname != null" >
        cname,
      </if>
      <if test="ename != null" >
        ename,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="levelint != null" >
        levelint,
      </if>
      <if test="relateCityId != null" >
        relate_city_id,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        #{code,jdbcType=NVARCHAR},
      </if>
      <if test="cname != null" >
        #{cname,jdbcType=NVARCHAR},
      </if>
      <if test="ename != null" >
        #{ename,jdbcType=NVARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="levelint != null" >
        #{levelint,jdbcType=INTEGER},
      </if>
      <if test="relateCityId != null" >
        #{relateCityId,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="java.util.Map" resultType="java.lang.Integer" >
    select count(*) from base_city
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.delmar.base.model.City" >
    update base_city
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=NVARCHAR},
      </if>
      <if test="cname != null" >
        cname = #{cname,jdbcType=NVARCHAR},
      </if>
      <if test="ename != null" >
        ename = #{ename,jdbcType=NVARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="levelint != null" >
        levelint = #{levelint,jdbcType=INTEGER},
      </if>
      <if test="relateCityId != null" >
        relate_city_id = #{relateCityId,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=NVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.delmar.base.model.City" >
    update base_city
    set code = #{code,jdbcType=NVARCHAR},
      cname = #{cname,jdbcType=NVARCHAR},
      ename = #{ename,jdbcType=NVARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      levelint = #{levelint,jdbcType=INTEGER},
      relate_city_id = #{relateCityId,jdbcType=INTEGER},
      remark = #{remark,jdbcType=NVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>