<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.delmar.base.mybatis.sql.PortModeMapper">
  <resultMap id="BaseResultMap" type="com.delmar.base.model.PortMode">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="base_port_id" jdbcType="INTEGER" property="basePortId" />
    <result column="mode" jdbcType="VARCHAR" property="mode" />
    <result column="datadict_id" jdbcType="INTEGER"  property="datadictId"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
    		  <if test="basePortId!=null"> and base_port_id=#{basePortId,jdbcType=INTEGER} </if>
              <if test="accessString!=null"> and ${accessString} </if>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, base_port_id, mode,datadict_id
  </sql>
  <select id="selectByExample" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from base_port_mode
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from base_port_mode
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from base_port_mode
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="java.util.Map">
    delete from base_port_mode
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.delmar.base.model.PortMode" useGeneratedKeys="true">
    insert into base_port_mode (base_port_id, mode,datadict_id)
    values (#{basePortId,jdbcType=INTEGER}, #{mode,jdbcType=VARCHAR},#{datadictId,jdbcType=INTEGER})
  </insert>

  <select id="countByExample" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(*) from base_port_mode
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.delmar.base.model.PortMode">
    update base_port_mode
    <set>
      <if test="basePortId != null">
        base_port_id = #{basePortId,jdbcType=INTEGER},
      </if>
      <if test="mode != null">
        mode = #{mode,jdbcType=VARCHAR},
      </if>
      <if test="datadictId != null">
        datadict_id = #{datadictId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.delmar.base.model.PortMode">
    update base_port_mode
    set base_port_id = #{basePortId,jdbcType=INTEGER},
      mode = #{mode,jdbcType=VARCHAR},
      datadict_id=#{datadictId,jdbcType=VARCHAR} 
    where id = #{id,jdbcType=INTEGER}
  </update>



  <insert id="insertSelective" keyProperty="id" parameterType="com.delmar.base.model.PortMode" useGeneratedKeys="true">
    insert into base_port_mode
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="basePortId != null">
        base_port_id,
      </if>
      <if test="mode != null">
        mode,
      </if>
      <if test="datadictId != null">
        datadict_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="basePortId != null">
        #{basePortId,jdbcType=INTEGER},
      </if>
      <if test="mode != null">
        #{mode,jdbcType=VARCHAR},
      </if>
      <if test="datadictId != null">
       #{datadictId,jdbcType=VARCHAR} ,
      </if>
    </trim>
  </insert>

</mapper>