<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.delmar.corebus.mybatis.sql.EventMapper" >
  <resultMap id="BaseResultMap" type="com.delmar.corebus.model.Event" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="EventTypeID" property="eventtypeid" jdbcType="INTEGER" />
    <result column="EventDate" property="eventdate" jdbcType="TIMESTAMP" />
    <result column="OPSReference" property="opsreference" jdbcType="VARCHAR" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
    <result column="CityID" property="cityid" jdbcType="INTEGER" />
     <result column="eventdesc" property="eventdesc" jdbcType="CLOB" />
     <association property="eventType" column="EventTypeID" select="com.delmar.base.mybatis.sql.EventTypeMapper.selectByPrimaryKey" ></association>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
        <if test="accessString!=null"> and ${accessString} </if>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, EventTypeID, EventDate, OPSReference, Remark, CityID,eventdesc
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from B_Event
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from B_Event
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from B_Event
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="java.util.Map" >
    delete from B_Event
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.delmar.corebus.model.Event" useGeneratedKeys="true" keyProperty="id" >
    insert into B_Event (EventTypeID, EventDate, OPSReference, 
      Remark, CityID, eventdesc)
    values (#{eventtypeid,jdbcType=INTEGER}, #{eventdate,jdbcType=TIMESTAMP}, #{opsreference,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{cityid,jdbcType=INTEGER}, #{eventdesc,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.delmar.corebus.model.Event" useGeneratedKeys="true" keyProperty="id" >
    insert into B_Event
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="eventtypeid != null" >
        EventTypeID,
      </if>
      <if test="eventdate != null" >
        EventDate,
      </if>
      <if test="opsreference != null" >
        OPSReference,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
      <if test="cityid != null" >
        CityID,
      </if>
      <if test="eventdesc!=null">
      eventdesc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="eventtypeid != null" >
        #{eventtypeid,jdbcType=INTEGER},
      </if>
      <if test="eventdate != null" >
        #{eventdate,jdbcType=TIMESTAMP},
      </if>
      <if test="opsreference != null" >
        #{opsreference,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="cityid != null" >
        #{cityid,jdbcType=INTEGER},
      </if>
      <if test="eventdesc!=null">
      #{eventdesc,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="java.util.Map" resultType="java.lang.Integer" >
    select count(*) from B_Event
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.delmar.corebus.model.Event" >
    update B_Event
    <set >
      <if test="eventtypeid != null" >
        EventTypeID = #{eventtypeid,jdbcType=INTEGER},
      </if>
      <if test="eventdate != null" >
        EventDate = #{eventdate,jdbcType=TIMESTAMP},
      </if>
      <if test="opsreference != null" >
        OPSReference = #{opsreference,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="cityid != null" >
        CityID = #{cityid,jdbcType=INTEGER},
      </if>
       <if test="eventdesc!=null">
      eventdesc=#{eventdesc,jdbcType=CLOB},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.delmar.corebus.model.Event" >
    update B_Event
    set EventTypeID = #{eventtypeid,jdbcType=INTEGER},
      EventDate = #{eventdate,jdbcType=TIMESTAMP},
      OPSReference = #{opsreference,jdbcType=VARCHAR},
      Remark = #{remark,jdbcType=VARCHAR},
      CityID = #{cityid,jdbcType=INTEGER},
      eventdesc=#{eventdesc,jdbcType=CLOB} 
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>