<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.delmar.corebus.mybatis.sql.RealtransEventMapper" >
  <resultMap id="BaseResultMap" type="com.delmar.corebus.model.RealtransEvent" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="realtrans_id" property="realtransId" jdbcType="INTEGER" />
    <result column="event_id" property="eventId" jdbcType="INTEGER" />
    <result column="client_id" property="clientId" jdbcType="INTEGER" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="createdby" property="createdby" jdbcType="INTEGER" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
    <result column="updatedby" property="updatedby" jdbcType="INTEGER" />
    <result column="createdbyname" property="createdbyname" jdbcType="VARCHAR" />
    <result column="updatedbyname" property="updatedbyname" jdbcType="VARCHAR" />
    <association property="event" column="event_id" select="com.delmar.corebus.mybatis.sql.EventMapper.selectByPrimaryKey" ></association>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
    			<if test="realtransId!=null"> and realtrans_id=#{realtransId,jdbcType=INTEGER} </if>
    			<if test="shortCode!=null"> and shortCode=#{shortCode,jdbcType=String} </if>    			
             	<if test="accessString!=null"> and ${accessString} </if>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, realtrans_id, event_id, client_id, org_id, user_id, user_name, created, createdby, 
    updated, updatedby, createdbyname, updatedbyname
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from B_realtrans_event
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from B_realtrans_event
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from B_realtrans_event
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="java.util.Map" >
    delete from B_realtrans_event
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.delmar.corebus.model.RealtransEvent" useGeneratedKeys="true" keyProperty="id" >
    insert into B_realtrans_event (realtrans_id, event_id, client_id, 
      org_id, user_id, user_name, 
      created, createdby, updated, 
      updatedby, createdbyname, updatedbyname
      )
    values (#{realtransId,jdbcType=INTEGER}, #{eventId,jdbcType=INTEGER}, #{clientId,jdbcType=INTEGER}, 
      #{orgId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, 
      #{created,jdbcType=TIMESTAMP}, #{createdby,jdbcType=INTEGER}, #{updated,jdbcType=TIMESTAMP}, 
      #{updatedby,jdbcType=INTEGER}, #{createdbyname,jdbcType=VARCHAR}, #{updatedbyname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.delmar.corebus.model.RealtransEvent" useGeneratedKeys="true" keyProperty="id" >
    insert into B_realtrans_event
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="realtransId != null" >
        realtrans_id,
      </if>
      <if test="eventId != null" >
        event_id,
      </if>
      <if test="clientId != null" >
        client_id,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="createdby != null" >
        createdby,
      </if>
      <if test="updated != null" >
        updated,
      </if>
      <if test="updatedby != null" >
        updatedby,
      </if>
      <if test="createdbyname != null" >
        createdbyname,
      </if>
      <if test="updatedbyname != null" >
        updatedbyname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="realtransId != null" >
        #{realtransId,jdbcType=INTEGER},
      </if>
      <if test="eventId != null" >
        #{eventId,jdbcType=INTEGER},
      </if>
      <if test="clientId != null" >
        #{clientId,jdbcType=INTEGER},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="createdby != null" >
        #{createdby,jdbcType=INTEGER},
      </if>
      <if test="updated != null" >
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedby != null" >
        #{updatedby,jdbcType=INTEGER},
      </if>
      <if test="createdbyname != null" >
        #{createdbyname,jdbcType=VARCHAR},
      </if>
      <if test="updatedbyname != null" >
        #{updatedbyname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="java.util.Map" resultType="java.lang.Integer" >
    select count(*) from B_realtrans_event
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.delmar.corebus.model.RealtransEvent" >
    update B_realtrans_event
    <set >
      <if test="realtransId != null" >
        realtrans_id = #{realtransId,jdbcType=INTEGER},
      </if>
      <if test="eventId != null" >
        event_id = #{eventId,jdbcType=INTEGER},
      </if>
      <if test="clientId != null" >
        client_id = #{clientId,jdbcType=INTEGER},
      </if>
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="createdby != null" >
        createdby = #{createdby,jdbcType=INTEGER},
      </if>
      <if test="updated != null" >
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedby != null" >
        updatedby = #{updatedby,jdbcType=INTEGER},
      </if>
      <if test="createdbyname != null" >
        createdbyname = #{createdbyname,jdbcType=VARCHAR},
      </if>
      <if test="updatedbyname != null" >
        updatedbyname = #{updatedbyname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.delmar.corebus.model.RealtransEvent" >
    update B_realtrans_event
    set realtrans_id = #{realtransId,jdbcType=INTEGER},
      event_id = #{eventId,jdbcType=INTEGER},
      client_id = #{clientId,jdbcType=INTEGER},
      org_id = #{orgId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      createdby = #{createdby,jdbcType=INTEGER},
      updated = #{updated,jdbcType=TIMESTAMP},
      updatedby = #{updatedby,jdbcType=INTEGER},
      createdbyname = #{createdbyname,jdbcType=VARCHAR},
      updatedbyname = #{updatedbyname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>