<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.delmar.corebus.mybatis.sql.RealTransMapper">
  <resultMap id="BaseResultMap" type="com.delmar.corebus.model.RealTrans">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="b_ebusiness_id" jdbcType="INTEGER" property="bEbusinessId" />
    <result column="businessNo" jdbcType="VARCHAR" property="businessno" />
    <result column="HawbBillNo" jdbcType="VARCHAR" property="hawbbillno" />
    <result column="MasterBillNo" jdbcType="VARCHAR" property="masterbillno" />
    <result column="flightDate" jdbcType="TIMESTAMP" property="flightdate" />
    <result column="flight" jdbcType="VARCHAR" property="flight" />
    <result column="reciplace" jdbcType="VARCHAR" property="reciplace" />
    <result column="pol" jdbcType="INTEGER" property="pol" />
    <result column="pod" jdbcType="INTEGER" property="pod" />
    <result column="poa" jdbcType="INTEGER" property="poa" />
    <result column="destplace" jdbcType="VARCHAR" property="destplace" />
    <result column="carriername" jdbcType="VARCHAR" property="carriername" />
    <result column="carrierContact" jdbcType="VARCHAR" property="carriercontact" />
    <result column="GoodsNumber" jdbcType="INTEGER" property="goodsnumber" />
    <result column="GoodsWeight" jdbcType="DECIMAL" property="goodsweight" />
    <result column="GoodsSize" jdbcType="DECIMAL" property="goodssize" />
    <result column="eta" jdbcType="TIMESTAMP" property="eta" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="client_id" jdbcType="INTEGER" property="clientId" />
    <result column="org_id" jdbcType="INTEGER" property="orgId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="createdby" jdbcType="INTEGER" property="createdBy" />
    <result column="createdbyname" jdbcType="VARCHAR" property="createdByName" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
    <result column="updatedby" jdbcType="INTEGER" property="updatedBy" />
    <result column="updatedbyname" jdbcType="VARCHAR" property="updatedByName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
    		<if test="businessno!=null"> and businessNo=#{businessno,jdbcType=VARCHAR} </if>
    		<if test="hawbbillno!=null"> and HawbBillNo=#{hawbbillno,jdbcType=VARCHAR}  </if>
    		<if test="clientId!=null">  and client_id = #{clientId,jdbcType=INTEGER} </if>
        	<if test="accessString!=null"> and ${accessString} </if>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, b_ebusiness_id, businessNo, HawbBillNo, MasterBillNo, flightDate, flight, reciplace, 
    pol, pod, poa, destplace, carriername, carrierContact, GoodsNumber, GoodsWeight, 
    GoodsSize, eta, remark, client_id, org_id, user_id, user_name, created, createdby, 
    createdbyname, updated, updatedby, updatedbyname
  </sql>
  <select id="selectByExample" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from b_realtrans
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from b_realtrans
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from b_realtrans
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="java.util.Map">
    delete from b_realtrans
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.delmar.corebus.model.RealTrans" useGeneratedKeys="true">
    insert into b_realtrans (b_ebusiness_id, businessNo, HawbBillNo, 
      MasterBillNo, flightDate, flight, 
      reciplace, pol, pod, 
      poa, destplace, carriername, 
      carrierContact, GoodsNumber, GoodsWeight, 
      GoodsSize, eta, remark, 
      client_id, org_id, user_id, 
      user_name, created, createdby, 
      createdbyname, updated, updatedby, 
      updatedbyname)
    values (#{bEbusinessId,jdbcType=INTEGER}, #{businessno,jdbcType=VARCHAR}, #{hawbbillno,jdbcType=VARCHAR}, 
      #{masterbillno,jdbcType=VARCHAR}, #{flightdate,jdbcType=TIMESTAMP}, #{flight,jdbcType=VARCHAR}, 
      #{reciplace,jdbcType=VARCHAR}, #{pol,jdbcType=INTEGER}, #{pod,jdbcType=INTEGER}, 
      #{poa,jdbcType=INTEGER}, #{destplace,jdbcType=VARCHAR}, #{carriername,jdbcType=VARCHAR}, 
      #{carriercontact,jdbcType=VARCHAR}, #{goodsnumber,jdbcType=INTEGER}, #{goodsweight,jdbcType=DECIMAL}, 
      #{goodssize,jdbcType=DECIMAL}, #{eta,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, 
      #{clientId,jdbcType=INTEGER}, #{orgId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{userName,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=INTEGER}, 
      #{createdByName,jdbcType=VARCHAR}, #{updated,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=INTEGER}, 
      #{updatedByName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.delmar.corebus.model.RealTrans" useGeneratedKeys="true">
    insert into b_realtrans
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bEbusinessId != null">
        b_ebusiness_id,
      </if>
      <if test="businessno != null">
        businessNo,
      </if>
      <if test="hawbbillno != null">
        HawbBillNo,
      </if>
      <if test="masterbillno != null">
        MasterBillNo,
      </if>
      <if test="flightdate != null">
        flightDate,
      </if>
      <if test="flight != null">
        flight,
      </if>
      <if test="reciplace != null">
        reciplace,
      </if>
      <if test="pol != null">
        pol,
      </if>
      <if test="pod != null">
        pod,
      </if>
      <if test="poa != null">
        poa,
      </if>
      <if test="destplace != null">
        destplace,
      </if>
      <if test="carriername != null">
        carriername,
      </if>
      <if test="carriercontact != null">
        carrierContact,
      </if>
      <if test="goodsnumber != null">
        GoodsNumber,
      </if>
      <if test="goodsweight != null">
        GoodsWeight,
      </if>
      <if test="goodssize != null">
        GoodsSize,
      </if>
      <if test="eta != null">
        eta,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="clientId != null">
        client_id,
      </if>
      <if test="orgId != null">
        org_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="createdBy != null">
        createdby,
      </if>
      <if test="createdByName != null">
        createdbyname,
      </if>
      <if test="updated != null">
        updated,
      </if>
      <if test="updatedBy != null">
        updatedby,
      </if>
      <if test="updatedByName != null">
        updatedbyname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bEbusinessId != null">
        #{bEbusinessId,jdbcType=INTEGER},
      </if>
      <if test="businessno != null">
        #{businessno,jdbcType=VARCHAR},
      </if>
      <if test="hawbbillno != null">
        #{hawbbillno,jdbcType=VARCHAR},
      </if>
      <if test="masterbillno != null">
        #{masterbillno,jdbcType=VARCHAR},
      </if>
      <if test="flightdate != null">
        #{flightdate,jdbcType=TIMESTAMP},
      </if>
      <if test="flight != null">
        #{flight,jdbcType=VARCHAR},
      </if>
      <if test="reciplace != null">
        #{reciplace,jdbcType=VARCHAR},
      </if>
      <if test="pol != null">
        #{pol,jdbcType=INTEGER},
      </if>
      <if test="pod != null">
        #{pod,jdbcType=INTEGER},
      </if>
      <if test="poa != null">
        #{poa,jdbcType=INTEGER},
      </if>
      <if test="destplace != null">
        #{destplace,jdbcType=VARCHAR},
      </if>
      <if test="carriername != null">
        #{carriername,jdbcType=VARCHAR},
      </if>
      <if test="carriercontact != null">
        #{carriercontact,jdbcType=VARCHAR},
      </if>
      <if test="goodsnumber != null">
        #{goodsnumber,jdbcType=INTEGER},
      </if>
      <if test="goodsweight != null">
        #{goodsweight,jdbcType=DECIMAL},
      </if>
      <if test="goodssize != null">
        #{goodssize,jdbcType=DECIMAL},
      </if>
      <if test="eta != null">
        #{eta,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="clientId != null">
        #{clientId,jdbcType=INTEGER},
      </if>
      <if test="orgId != null">
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="createdByName != null">
        #{createdByName,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=INTEGER},
      </if>
      <if test="updatedByName != null">
        #{updatedByName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(*) from b_realtrans
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectMaxHawbBillNo" resultType="java.lang.String">
  	 select max(HawbBillNo) from b_realtrans
  </select>
    <select id="selectMaxMasterBillNo"  resultType="java.lang.String">
  	 select max(MasterBillNo) from b_realtrans
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.delmar.corebus.model.RealTrans">
    update b_realtrans
    <set>
      <if test="bEbusinessId != null">
        b_ebusiness_id = #{bEbusinessId,jdbcType=INTEGER},
      </if>
      <if test="businessno != null">
        businessNo = #{businessno,jdbcType=VARCHAR},
      </if>
      <if test="hawbbillno != null">
        HawbBillNo = #{hawbbillno,jdbcType=VARCHAR},
      </if>
      <if test="masterbillno != null">
        MasterBillNo = #{masterbillno,jdbcType=VARCHAR},
      </if>
      <if test="flightdate != null">
        flightDate = #{flightdate,jdbcType=TIMESTAMP},
      </if>
      <if test="flight != null">
        flight = #{flight,jdbcType=VARCHAR},
      </if>
      <if test="reciplace != null">
        reciplace = #{reciplace,jdbcType=VARCHAR},
      </if>
      <if test="pol != null">
        pol = #{pol,jdbcType=INTEGER},
      </if>
      <if test="pod != null">
        pod = #{pod,jdbcType=INTEGER},
      </if>
      <if test="poa != null">
        poa = #{poa,jdbcType=INTEGER},
      </if>
      <if test="destplace != null">
        destplace = #{destplace,jdbcType=VARCHAR},
      </if>
      <if test="carriername != null">
        carriername = #{carriername,jdbcType=VARCHAR},
      </if>
      <if test="carriercontact != null">
        carrierContact = #{carriercontact,jdbcType=VARCHAR},
      </if>
      <if test="goodsnumber != null">
        GoodsNumber = #{goodsnumber,jdbcType=INTEGER},
      </if>
      <if test="goodsweight != null">
        GoodsWeight = #{goodsweight,jdbcType=DECIMAL},
      </if>
      <if test="goodssize != null">
        GoodsSize = #{goodssize,jdbcType=DECIMAL},
      </if>
      <if test="eta != null">
        eta = #{eta,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="updated != null">
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updatedby = #{updatedBy,jdbcType=INTEGER},
      </if>
      <if test="updatedByName != null">
        updatedbyname = #{updatedByName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.delmar.corebus.model.RealTrans">
    update b_realtrans
    set b_ebusiness_id = #{bEbusinessId,jdbcType=INTEGER},
      businessNo = #{businessno,jdbcType=VARCHAR},
      HawbBillNo = #{hawbbillno,jdbcType=VARCHAR},
      MasterBillNo = #{masterbillno,jdbcType=VARCHAR},
      flightDate = #{flightdate,jdbcType=TIMESTAMP},
      flight = #{flight,jdbcType=VARCHAR},
      reciplace = #{reciplace,jdbcType=VARCHAR},
      pol = #{pol,jdbcType=INTEGER},
      pod = #{pod,jdbcType=INTEGER},
      poa = #{poa,jdbcType=INTEGER},
      destplace = #{destplace,jdbcType=VARCHAR},
      carriername = #{carriername,jdbcType=VARCHAR},
      carrierContact = #{carriercontact,jdbcType=VARCHAR},
      GoodsNumber = #{goodsnumber,jdbcType=INTEGER},
      GoodsWeight = #{goodsweight,jdbcType=DECIMAL},
      GoodsSize = #{goodssize,jdbcType=DECIMAL},
      eta = #{eta,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      updated = #{updated,jdbcType=TIMESTAMP},
      updatedby = #{updatedBy,jdbcType=INTEGER},
      updatedbyname = #{updatedByName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>